[2016-12-19 00:09] #819 closed, assigned to zachriggle

[2016-12-19 07:57] ulexec commented on #819
The problem is gdb not connecting, rather than the window not spitting. Ive tried this with tmux and I have the same problem

[2016-12-19 18:18] zachriggle commented on #819
Sounds like your GDB is broken.  I recommend following the [ISSUE TEMPLATE](https://github.com/Gallopsled/pwntools/blob/dev/.github/ISSUE_TEMPLATE.md).

[2016-12-19 22:08] zachriggle commented on #758
Ping, added a Pull Request to fix this.  I'd like @br0ns to review it.

[2016-12-26 23:40] cr019283 opened #826 "Pwntools doesn't in Jupyter because of Jupyter-Curses interactions"
Although the github demo works well for IPython, it fails for jupyter notebook.

Here is the received output for "from pwn import *" and "from pwnlib import *":

[code]

[2016-12-27 08:24] Stolas commented on #826
This issue exists due to:
[code]

A bit of Googling gave me the following issue within another project: https://github.com/ContinuumIO/anaconda-issues/issues/455

Starting ipython like` TERMINFO=/usr/share/terminfo ipython` seems to work.
However within a notebook `TERMINFO=/usr/share/terminfo ipython notebook --no-browser` it does not.

As I have also ran into this issue with pwntools it is reall

[2016-12-27 09:46] Stolas commented on #680
Started with this issue on my fork https://github.com/Stolas/pwntools/commit/a45c8c7ecf656eea6ca3cf9397ffda7cff2268cb is this the way you envisioned it?
I heavily based it on [Pyramid](http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/project.html), and borrowed some code.

If this is the way it should work I will finish this.

[2016-12-28 18:44] zachriggle commented on #680
The code I see in that commit looks fine, but I know nothing at all about Pyramid (nor do I see it referenced there).

It looks like Pyramid brings a bunch of new dependencies with it, which seems unfortunate.  Most of the dependencies are MIT-compatible, though it's not really clear about Zope and ZPL.

[code]

If you're just looking for a template engine, we already make heavy use of Mako templa

[2016-12-28 19:59] zachriggle commented on #826
This is something that can probably be fixed on the Pwntools side, but I don't want to spend the time sorting out Jupyter to fix it.

We'd certainly welcome a Pull Request to fix the issue.

[2016-12-28 21:21] Stolas commented on #680
Oh no I seemed to be vague there. The scaffolding code is 'borrowed' from Pyramid. They use scaffolding as well to create website templates.

I'll finish this and get it to work, and I'll let you know.

[2016-12-29 18:21] #758 closed, assigned to br0ns

[2016-12-29 22:22] Stolas commented on #680
Code Finished.

Pull Request still requires:
- [ ] docstrings
- [ ] doctests

Also it needs a lot more scaffolds to be helpful, some code cleanup maybe.
But, it works.. see https://github.com/Stolas/pwntools/commit/5b7497d0990dddea9217e23bf9e9cbf6fa42cc31

[2016-12-29 23:41] zachriggle commented on #680
Stolas: Please create a pull request, rather than commenting here.  Additionally, please use a new branch (instead of 'dev')

[2016-12-30 08:17] Stolas commented on #680
As I was missing data I decided to not make a pull request yet.
Done now.

[2017-01-09 02:50] zachriggle commented on #753
Actually, it looks like they backported the `ulimit` checks to lots of kernels, and each distro did their own thing.  We'll have to actually check (which is easy, just upload an ELF).

[2017-01-09 08:37] peter50216 opened #836 "NameError when using hexdump(cyclic=True)"
[code]
would throw `NameError: global name 's' is not defined`.

Seems that error comes from some incomplete refactor of hexdump to hexdump_iter.

[2017-01-09 18:55] #753 closed, assigned to nobody

[2017-01-10 16:09] #836 closed, assigned to zachriggle, TethysSvensson

[2017-01-10 17:30] david942j opened #841 "shellcraft.amd64.mov does not work for 32-bit unsigned values > 0x7fffffff"
[code]

Looks like `push 0xffffffff` is an invalid instruction, should be `push -1` in this case?

[2017-01-10 18:39] zachriggle commented on #841
Looks like this is a regression introduced in v3.0.0, v2.3.0 works fine.

[2017-01-10 18:43] zachriggle commented on #841
Which is very odd, because v.3.0.0 works for...

[code]

But then does...

[code]

[2017-01-10 18:47] zachriggle commented on #841
It looks like 2.3.0 doesn't throw an exception, but is just "wrong".

If we run the code via `shellcraft --debug amd64.mov rax 0xffffffff`, we get the following:

[code]

Which is clearly incorrect.

[2017-01-10 18:49] zachriggle commented on #841
It looks like v.2.2.0 is correct:

[code]

Which gets us

[code]

[2017-01-10 19:15] zachriggle commented on #841
Root cause is Gallopsled/pwntools#504 (9ca377c)

[2017-01-10 22:21] zachriggle commented on #841
Closed via #843, this will be fixed in v3.3.3

[2017-01-10 22:21] #841 closed, assigned to zachriggle

[2017-01-10 22:29] zachriggle opened #844 "pip install --upgrade pwntools installs v3.4.0b2"
On a pristine Ubuntu 12.04 docker image, "pip install --upgrade pwntools" installs v3.4.

It should be v3.3.

[2017-01-10 22:31] zachriggle commented on #844
If I do it on my Mac, it installs the correct version.

[2017-01-10 22:32] zachriggle commented on #844
Looks like this is related to using an old version of `pip`, which does not recognize the pre-release status.

[2017-01-10 22:33] TethysSvensson commented on #844
I don't think there is anything we can do about this.

[2017-01-10 22:35] #844 closed, assigned to zachriggle, TethysSvensson

[2017-01-12 05:25] peter50216 opened #847 "regsort handle the case when no cycle and xchg=False incorrectly."
[code]
Both output should be same.

[2017-01-12 08:33] zachriggle commented on #847
Holy cow, I'm impressed anybody ever dug into that code! Thanks for
reporting the bug, I'll look tomorrow!

Out of curiosity, we experienced a spike in reports this week -- did
pwntools come up in media somewhere?
On Thu, Jan 12, 2017 at 12:25 AM Peter Shih <notifications@github.com>
wrote:

[2017-01-12 09:12] peter50216 commented on #847
For the reports by me or @david942j, it's because we're trying to write pwntools for Ruby :D
(https://github.com/peter50216/pwntools-ruby)

[2017-01-12 16:22] david942j opened #848 "Incorrect output of shellcraft.amd64.popad"
pwnlib/shellcraft/templates/amd64/popad.asm
[code]

[2017-01-12 16:24] david942j commented on #848
In addition, I think `pop rsp` should be changed to `add rsp, 8` ?

[2017-01-12 16:39] peter50216 opened #849 "Hexdump output is not aligned when width is not multiple of 4"
[code]
The right column is not aligned.

[2017-01-12 20:54] zachriggle commented on #849
I'll accept a pull request to fix this, but otherwise I'm not inclined to dig through the code to figure out how to fix this correctly.

[2017-01-12 22:33] zachriggle commented on #848
Fixed via #853

[2017-01-12 22:33] #848 closed, assigned to zachriggle

[2017-01-12 22:34] zachriggle commented on #847
Fixed via #852

[2017-01-12 22:34] #847 closed, assigned to zachriggle

[2017-01-12 22:57] #849 closed, assigned to peter50216

[2017-01-12 23:39] zachriggle opened #854 "Android File I/O"
Currently, Android I/O is limited by the functionality available via the ADB protocol (read / write / listdir / stat).

Unfortunately, the command-line tooling for Android is extremely varied, and cannot be relied on.  This means that simple operations [like `which`](https://github.com/Gallopsled/pwntools/blob/dev/pwnlib/adb/adb.py#L785-L803) end up being large chunks of KSH-compatible shell code.

[2017-01-13 02:29] nil0x42 opened #855 "ssh() can't connect"
# context()
system: ArchLinux (4.8.13-1-ARCH)
python: 2.7.13
pwntools: 3.3.4 (pip latest)

# issue
connecting to a wargame-challengs server over ssh fails when using paramiko2

# steps to reproduce
**`$ python2`**
[code]

[2017-01-13 02:32] nil0x42 commented on #855
NOTE: I saw you only support ubuntu, therefore if you have an idea of problem's origin, it would help me to upgrade BlackArch's pwntools packaging

[2017-01-13 02:34] zachriggle commented on #855
It looks like your SSH key or host are misconfigured.

[2017-01-13 02:34] #855 closed, assigned to zachriggle

[2017-01-13 03:20] zachriggle commented on #855
(Specifically, you have an extremely weak key in your known_hosts file that you should remove.  It looks like Paramiko won't work with that entry. I would recommend seeing if Paramjko works at all on your system.)

[2017-01-13 09:17] david942j opened #856 "Misusing syscall register in amd64.linux.execve"
In `pwnlib/shellcraft/amd64/linux/execve.asm`
https://github.com/Gallopsled/pwntools/blob/dev/pwnlib/shellcraft/templates/amd64/linux/execve.asm#L39
https://github.com/Gallopsled/pwntools/blob/dev/pwnlib/shellcraft/templates/amd64/linux/execve.asm#L43
The two `abi.register_arguments` indexes are incorrect

Should use
[code]
instead, which are declared variables but not being used.

This also leads

[2017-01-13 18:42] zachriggle commented on #856
It looks like this pattern also exists on i386 and MIPS.

The total impact is that an extra instruction is generated, the code still works fine.  The fix will go into `dev`.

[2017-01-13 19:00] #856 closed, assigned to zachriggle

[2017-01-13 21:49] zachriggle commented on #854
Basic shellcode injection works, with the changes from #834

[code]

[code]

[2017-01-13 21:50] zachriggle commented on #854
It looks like `/proc/pid/syscall` is not available on some devices, e.g. Nexus 7

[code]

[2017-01-13 22:04] zachriggle commented on #854
It looks like kernel 3.10 added TRACEHOOK support to ARM.

[code]

We can probably fall back to parsing `strace -i` output to get the current instruction.

[2017-01-13 22:43] zachriggle commented on #854
It looks like it may be easier / better / etc. to just inject via JDWP, e.g. `adb shell dalvikvm -agentlib:jdwp=transport=dt_socket,address=8000,server=y,suspend=y`.  See also: https://svn.nmap.org/nmap/scripts/jdwp-inject.nse

[2017-01-14 05:17] nil0x42 opened #858 "ssh.download_file(): Pernission denied"
# download_file() fails on readable file

[code]

[2017-01-14 06:46] nil0x42 commented on #858
okay, after reading the sources, it's due to the fact that pwntools does downloads through sftp and not scp, the openssh's `sftp` client gave the same results.

adding scp capability on pwntools could be nice, for the moment, i'll just do this:
[code]

[2017-01-14 20:05] zachriggle commented on #858
You can disable SFTP on the `ssh` object by setting its `sftp` attribute to `None` per the documentation:

http://docs.pwntools.com/en/dev/tubes/ssh.html#pwnlib.tubes.ssh.ssh.sftp

It looks like at some point we deferred initialization of the `sftp` object via using a property, but a setter was never added.

I added a setter in 2e90d051561a14e6989aca56dbd2dff037cdd804.  In the meantime, you can ju

[2017-01-14 20:05] #858 closed, assigned to zachriggle

[2017-01-20 10:50] jwilk opened #863 "String formatting error in pwnlib.tubes.ssh"
`pwnlib/tubes/ssh.py` contains this statement:
[code]
There's one conversion (`%r`), but two arguments for the `%` operator, so this will cause:
[code]

Found using [pydiatra](https://github.com/jwilk/pydiatra).

[2017-01-20 19:38] #863 closed, assigned to zachriggle

[2017-01-22 21:37] zachriggle opened #864 "ELF.read() is buggy"
It looks like the current implementation of `ELF.read` assumes that all of the bytes which are read will span the same segment.  This is not guaranteed.

Corefiles dropped by QEMU in particular overlap the file-data for segments on the stack.

[code]

[2017-01-24 18:41] #864 closed, assigned to zachriggle

[2017-01-25 05:58] fortenforge opened #870 "Inconsistent use of sh_prepare"
Line 97 of `pwnlib/tubes/ssh.py` isn't consistent with line 424 of `pwnlib/util/sh_string.py`. Namely the latter expects the environment variables as a dict while the former passes them as two different arguments.

This causes an error when I try to do something like `shell.run('./foo', env={"bar": "test"})`.

[2017-01-25 06:21] zachriggle commented on #870
Ping @Idolf since you did all of the `sh_command_with` stuff

[2017-01-25 10:14] RobertLarsen commented on #685
@kristoff3r Ping

[2017-01-26 20:10] zachriggle commented on #870
Also, IIRC we don't actually need `sh_command_with` anymore since the most recent rewrite of `sh_string`.

[2017-01-27 13:12] zachriggle opened #873 "MIPS dupsh is broken"
The shellcode for `mips.linux.dupsh` just calls `dup` instead of `dupio`, because `dupio` does not exist.

[2017-01-27 13:14] zachriggle commented on #873
It looks like it's the original code from ef451105c26cd0a489be10a3a255a9b7a4ade672, which invoked the non-existent `dup` shellcode.

Later, a `dup` syscall stub was added.

tl;dr this has never worked and nobody noticed, can probably fix in `dev`

[2017-01-27 13:15] zachriggle commented on #873
Hmm, apparently my git-fu is not very strong.  It did used to exist in d21af22f82ca66c2a4987f9dc3af267a94cb6b04.

[2017-01-27 13:17] #873 closed, assigned to nobody

[2017-01-30 19:40] zachriggle opened #874 "Discussion: Core file maintenance"
I'm in the process of adding a large chunk of functionality to Pwntools (#839), which revolves around the use of core files to speed up exploit development.

Specifically, it is designed to enable brain-dead exploitation, without me doing math (I hate math).

Consider the classic Baby's First style challenge:

[code]

We can trivially exploit this without even opening a disassembler, regardless of

[2017-02-02 05:28] zachriggle opened #876 "Detect vsyscall emulation"
As I [found out the hard way](https://twitter.com/ebeip90/status/825926147384999938), sometimes the `vsyscall` page is emulated.

![image](https://cloud.githubusercontent.com/assets/111640/22538124/1ae8d194-e8de-11e6-9c99-0a9d5ebbbcc4.png)

Even when it looks like everything is happy and you're going to get a shell.

![image](https://cloud.githubusercontent.com/assets/111640/22538128/2490d2fa-e8de

[2017-02-02 05:42] zachriggle opened #877 "Process snapshotting and comparison"
Now that we have reasonable support for generating and manipulating corefiles on-the-fly (#839), we can extend the core-file functionality to process snap-shotting.

The snap-shot process is really just "attach GDB and generate a core-file" (the `gcore` script included with GDB literally just drives GDB to invoke the `generate-core` command, we replicate this).

However, with a modern version of G

[2017-02-03 22:52] zachriggle opened #878 "Travis is busted"
Travis says that the `dev` branch tests are failing, but they're not...

https://travis-ci.org/Gallopsled/pwntools/builds/198183106

[2017-02-04 01:57] zachriggle commented on #878
Note the two different builds of  f3968af with different statuses.

<img width="1533" alt="screen shot 2017-02-03 at 8 57 16 pm" src="https://cloud.githubusercontent.com/assets/111640/22614672/68ebf5a8-ea53-11e6-9e07-6a037ec9ba04.png">

[2017-02-04 06:24] bruce30262 opened #879 "Wrong implementation in rop.migrate()"
here's how pwntools create the ROP chain for stack migration (using the `leave ; ret` gadget):
[code]
As you can see it set the `bp` register to `next_base-4`, then use the `leave;ret` gadget to migrate the stack to `next_base`. This work in x86 binaries, but not in x64 binaries ( would have to be `self.raw(next_base-8)` not `self.raw(next_base - 4)` )

[2017-02-04 12:20] TethysSvensson commented on #870
I haven't studied the code in detail recently, but I agree. We should not need to use `sh_command_with` anymore. I propose we keep it anyways for API compatibility but stop using it internally. WDYT?

I will prepare a PR to this effect.

[2017-02-04 20:53] zachriggle commented on #879
99% of the ROP functionality only works on amd64.

If you make this change locally (to `next_base - context.bytes`), does the pivot actually work?

[2017-02-05 12:43] #878 closed, assigned to zachriggle, TethysSvensson

[2017-02-05 13:25] bruce30262 commented on #879
I found this bug when I was doing a CTF challenge, which I need to do stack migration in a x64 binary.
If I use the original function (`rop.migrate(buf)`), it will migrate the stack to the wrong address, causing the exploit crash the program. I ended up writing my own function to make the exploit work, something like:
[code]
So yes I think if we change it to `next_base - context.bytes` if will mig

[2017-02-05 14:36] #879 closed, assigned to nobody

[2017-02-07 21:47] martin-0 opened #885 "failing to open debug session over ssh // pwntools v3.3.4"
System setup:  16.04.1 LTS 4.4.0-31-generic #50-Ubuntu x86_64 , pwntools v3.3.4

I'm trying to remotely debug binary over SSH and failing so.
Demo script:

[code]
Executed from console:
[code]
Seems like connection is established, remote binary is executed and then it seems like binary is attempted to be executed locally.

Local debugging works ok.

[2017-02-11 22:25] zachriggle commented on #685
Ping on both my and @krisoff3r's pull requests.

I think his does a great job solving this particular PR, and mine solves the generic case of all syscalls, and the ability to generate them on the fly (and a few things are made easier, like passing strings to open() and having it "just work").

[2017-02-12 19:50] zachriggle opened #888 "Shellcraft Templates"
For each architecture, all of the following **non-syscall** shellcodes should be defined:

- `breakpoint`
- `crash`
- `infloop`
- `mov`
- `nop`
- `push`
- `pushstr`
- `pushstr_array`
- `setregs`
- `trap` (alias of `breakpoint`)

For each operating system, for each architecture, the following set should be defined:

- `accept` (accepts a connection)
- `bind` (binds a socket to a port)
- `cat` (must

[2017-02-12 19:53] zachriggle commented on #888
We are currently missing the following architecture-specific shellcodes:

[code]

[2017-02-12 20:18] zachriggle commented on #888
One caveat that's important to note is that `aarch64` **cannot** have a `push` which is similar to the other architectures, since the stack **must** be 16-byte aligned.

See: https://community.arm.com/processors/b/blog/posts/using-the-stack-in-aarch64-implementing-push-and-pop

[2017-02-12 21:43] zachriggle opened #889 "Shellcraft Pseudo-Templates"
Currently both of these exist:

- `shellcraft/templates/i386/mov.asm`
- `shellcraft/templates/i386/linux/mov.asm`

This is unnecessary, as `context` scoping will automatically set the correct OS and set of constants.

Where these *are* useful is for invoking on the command-line, e.g.

[code]

It seems like we can do inverted scoping to make this happen, and lose the extra templates.

Currently, we

[2017-02-12 21:43] zachriggle commented on #889
The other thing to consider is the cost of having bidirectional scoping, versus a handful of symlinks for things defined at the `arch`-level.

[2017-02-12 23:37] #685 closed, assigned to kristoff3r, RobertLarsen

[2017-02-13 09:17] IngyuTae opened #891 "odd paddings are inserted when rop.raw() is called with a string"
pwntools 3.4.0 / python 2.7.6 / ubuntu 14.04 x64

I wanted to put some (str) paddings into the rop chain but odd paddings are also inserted.

[code]

What I expected was:

[code]

Did I miss something?

[2017-02-13 09:57] IngyuTae commented on #891
I found that `generatePadding` returns whole the padding generated even when `count` is zero. Below code will fix this issue:

[code]

[2017-02-13 10:42] kristoff3r commented on #891
Thanks, that's definitely a bug, it's fixed on the dev branch now.

@Idolf: since it is so simple, we might want to add it to the beta branch as well?

[2017-02-13 19:36] TethysSvensson commented on #891
Yep, I will do a backport and a new beta release.

[2017-02-13 19:37] TethysSvensson commented on #891
Actually, could you add a test for this before I backport it?

[2017-02-13 19:42] zachriggle commented on #891
@kristoff3r Can you use Pull Requests for bug fixes like this? Thanks :)

[2017-02-13 21:05] zachriggle commented on #870
Closed via #892

[2017-02-13 21:05] #870 closed, assigned to TethysSvensson

[2017-02-13 21:39] zachriggle opened #896 "Linux has dropped __NR_open from AArch64"
While working on #883, one of the failing tests is `cat` for aarch64, because `__NR_open` is not defined in MUSL's headers for aarch64.

At first this seemed like a bug, but our current syscalls for it are e.g.:

[code]

The 1024 seems suspect.  In fact, QEMU does not support this syscall anymore as of qemu/qemu@13756fb0, which landed in v2.6.0.  This makes the `unsupported syscall 1024` that has

[2017-02-13 21:45] zachriggle commented on #896
Looks like these syscalls never existed.

https://groups.google.com/a/chromium.org/forum/#!msg/chromium-reviews/H3HL8e3KTjw/7KWVBSBOAwAJ

[2017-02-13 22:50] #896 closed, assigned to zachriggle, kokjo, TethysSvensson

[2017-02-14 06:53] zachriggle opened #900 "MIPS ELF Architecture Extraction Error"
Looks like we get the architecture wrong for some MIPS binaries.

[code]

[2017-02-14 06:54] zachriggle commented on #900
It looks like this issue is because of:

[code]

[2017-02-14 07:05] zachriggle commented on #900
Hmm.

[code]

[2017-02-14 07:07] zachriggle commented on #900
Apparently MIPS is fucking complicated.

http://binutils.sourceware.narkive.com/RuwRwg5J/describing-mips-architectures-in-elf-header-flags

[2017-02-14 16:36] #900 closed, assigned to zachriggle

[2017-02-14 19:20] TethysSvensson opened #902 "Readthedocs is failing"
Currently readthedocs throws an error when building. See https://readthedocs.org/projects/pwntools/builds/5022322/.

[2017-02-14 23:25] kristoff3r commented on #891
Yeah my bad, I just thought "well, an obvious 2 line fix that doesn't touch anything else, easy", without thinking about changelogs, tests or backports. I'll just stick to PR's.

[2017-02-15 00:17] zachriggle commented on #891
@kristoff3r No problem ^_^.  Feel free to push to dev with impunity with non-backported-bugfixes.

[2017-02-15 00:46] kristoff3r commented on #902
Looks like [this](https://github.com/rtfd/readthedocs.org/issues/2642) which links to [this](https://github.com/rtfd/readthedocs.org/issues/2640). It looks like it should be fixed if we rebuild now.

[2017-02-15 20:51] TethysSvensson commented on #902
That seemed to fix it.

[2017-02-15 20:51] #902 closed, assigned to zachriggle

[2017-02-16 15:06] jonasbb opened #906 "`raw_input` does not strip trailing newlines"
The `raw_input` method is supposed to strip the trailing newline. However, this does not always happen.
I am using version `3.4.0` which is the newest available in pip.

Test case:

[code]

Actual output:

[code]

[2017-02-16 15:57] kristoff3r commented on #891
@Idolf: backport 52aadfae32eb8a2f4c4e88a981cdefb547aea6fb and 8b8a50b5807735d9f3fd8614c7180aeabca7fdef to stable and beta.

[2017-02-16 17:09] zachriggle opened #907 "Command line aliases"
There is a new "debug" command which launches binaries under a debugger in an automated fashion, including those of foreign architectures.  It's really neat!

We ship a "pwn" binary which is the entry point for all of these tools, as of 3.0 or so.

We should support aliases so that one can not only invoke "pwn debug" but also "pwn dbg", which is a cheeky reference to my other project, Pwndbg.

[2017-02-16 17:11] zachriggle opened #908 "run_in_current_terminal"
Currently, we only support launching eg GDB in a new terminal window, instead of giving it the current one.

We should support both modes.

[2017-02-16 17:12] zachriggle commented on #891
@kristoff3r Please create a new pull request against stable, with a branch based on stable, with those commits.

[2017-02-16 17:20] #906 closed, assigned to nobody

[2017-02-16 20:39] zachriggle commented on #907
Nah.

[2017-02-16 20:39] #907 closed, assigned to nobody

[2017-02-16 21:35] zachriggle commented on #906
?

[2017-02-17 00:38] #680 closed, assigned to nobody

[2017-02-17 02:03] zachriggle opened #911 "Private functions and methods (underscore-prefixed) are not tested"
Apparently the Sphinx `doctest` module does not actually run all of the tests:

[code]

https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/autodoc.py#L855-L861

[2017-02-17 02:03] zachriggle commented on #911
The irony of this issue being #911 (the emergency services number in the USA) is not lost on me

[2017-02-17 02:05] zachriggle commented on #911
Luckily, it looks like only a handful of tests are actually failing:

https://travis-ci.org/zachriggle/pwntools/builds/202477061

[2017-02-17 02:30] #911 closed, assigned to zachriggle

[2017-02-17 03:13] zachriggle opened #913 "Members missing from __all__ are not documented or tested"
In any module which has an `__all__` attribute, any functions or classes not exported are ignored by Sphinx `autodoc`, and subsequently also by Sphinx `doctest`.

[2017-02-17 04:40] #913 closed, assigned to nobody

[2017-02-17 05:03] zachriggle commented on #885
Closed via #894

[2017-02-17 05:03] #885 closed, assigned to zachriggle

[2017-02-17 13:19] TethysSvensson commented on #891
@zachriggle I promised to backport them for him this time, since they both merge cleanly, but he said he would do it the right way next time.

[2017-02-17 13:19] #891 closed, assigned to nobody

[2017-02-17 13:55] TethysSvensson commented on #891
I ended up backporting only the fix and not the test, since the test used features not yet present on stable.

[2017-02-21 17:45] zachriggle opened #915 "Release bus number is 1"
Currently, @Idolf cuts our releases each time, and has some scripts to help him do it in a consistent fashion.  It'd be useful if these scripts could be checked into source control, so that if he gets hit by a bus, we can still do releases in a similar fashion.

[2017-02-21 18:21] zachriggle opened #916 "SSH errors for wargame.w3challs.com"
The following fails:

[code]

When attempting to download `/proc/sys/kernel/randomize_va_space`

It also throws an error when attempting to run `lsb_release`.

[2017-02-21 18:22] zachriggle commented on #916
Verified that this affects 3.5.0, does not affect 3.4.0

[2017-02-21 18:33] zachriggle commented on #819
Verified that this is working correctly for me

[2017-02-21 19:01] zachriggle commented on #874
No comments after a month, the PR has been merged, I'll assume everybody agrees (or is at least ambivalent).

[2017-02-21 19:01] #874 closed, assigned to br0ns, kristoff3r, kokjo, RobertLarsen, TethysSvensson

[2017-02-21 21:00] zachriggle commented on #916
Fix merged into beta

[2017-02-21 21:00] #916 closed, assigned to zachriggle

[2017-02-21 23:10] TethysSvensson commented on #915
I don't actually have scripts. I have a file with some commands that serves to remind me of what to do.

I should have scripts. I am keeping this bug open for me to create scripts and include them in the repo. This would both mean less work for me and increase the bus factor.

Basically the process is:

- Get git into a state that would be okay to do a release from. This will at least include upda

[2017-02-25 01:18] zachriggle opened #921 "Travis is broken again"
It looks like Travis CI is having internal errors.  Previously-functional tests are failing during the setup phase.

[2017-02-25 06:41] zachriggle commented on #921
Looks like this is related to both:

- ActiveState/appdirs#89
- pypa/pip#4264

[2017-02-25 06:49] zachriggle commented on #921
Looks like 1f72e45e is a work-around for this until the other issue gets sorted

[2017-02-25 16:22] alicio-ctf commented on #818
Same error with pycharm on kali-linux. Workaroud is to define environment variables for run configuration:
[code]

See http://stackoverflow.com/questions/9485699/setupterm-could-not-find-terminal-in-python-program-using-curses/21571407#21571407

[2017-02-27 16:03] letitbezh opened #922 "WHEN I USE ROP（），IT always WRONG"
b = ELF('./login')
rop = ROP(b)
when I use this，the ROP always  wrong，log is like this
[code]
what should. I do ?  THANK YOU

[2017-02-27 16:10] zachriggle commented on #922
I have no idea, looks like your install is broken.  Try on a clean machine or Docker.

[2017-02-27 16:10] #922 closed, assigned to nobody

[2017-02-28 00:02] letitbezh commented on #922
i use env  ,but it is wrong ... i think   i should try docker

[2017-02-28 21:38] zachriggle opened #923 "Shellcraft Decorator Usage"
We have a very hacky `exec in T` statement, so as not to remove function signatures from compiled `shellcraft` templates.

It looks like the BSD-licensed library `decorator` library handles this in a more standardized and graceful way.

https://github.com/micheles/decorator

[2017-03-01 15:11] l-maia commented on #819
@zachriggle
I just reproduced this problem.

Launching a terminal by hand i noticed that it was sending  a message to stderr .
The function run_in_new_terminal has a **os.close(2)** which will hang the exec when the terminal outputs stuff (like QDBusConnection log messages on KDE which should be non-blocking).

Commenting this line will fix this for me, but i think the proper patch would be to wra

[2017-03-01 17:23] zachriggle commented on #819
What OS / environment / version?
On Wed, Mar 1, 2017 at 9:12 AM Luis Maia <notifications@github.com> wrote:

[2017-03-01 17:27] l-maia commented on #819
Debian Jessie running KDE.

If you use Gnome there's no problem because there's no output from the terminal command.

[2017-03-02 21:41] zachriggle opened #925 "ELF._populate_libraries is a hack, as is process.libs()"
The current code is a hack: https://github.com/Gallopsled/pwntools/blob/3.4.1/pwnlib/elf/elf.py#L314-L345

First, it relies on `subprocess.check_output`, instead of using `pwnlib.tubes.process.process`.

Second, it is incorrect for QEMU-emulated processes.  In particular, our detection of `QEMU_LD_PREFIX` is hard-coded to make assumptions about `/etc/qemu-binfmt/$ARCH`, when the QEMU default (and

[2017-03-03 01:05] zachriggle commented on #921
Merged to stable, just needs to be merged to `beta` eventaully

[2017-03-03 01:05] #921 closed, assigned to zachriggle

[2017-03-04 23:43] bannsec opened #926 "context not updating properly for asm"
When switching context using `asm` i've noticed it has problems updating.

This works:
[code]

This does not:
[code]

In the later, it looks like the assembling command is not changed to i386 context.

[2017-03-04 23:53] zachriggle commented on #926
Per the docs for [`ContextType.arch`](http://docs.pwntools.com/en/stable/context.html#pwnlib.context.ContextType.arch):

[code]

The GNU assembler is expecting 64-bit Intel instructions (`'/usr/bin/x86_64-linux-gnu-as', '-64' ...`), you're providing it with `i386` instructions.  If you wish to change the architecture back to 32-bit, you **MUST** either clear the context:

[code]

Or you must expli

[2017-03-04 23:53] #926 closed, assigned to nobody

[2017-03-04 23:56] zachriggle commented on #926
Also, TYRM (Today You Reminded Me) that I had aliased `__call__` to `update()` for `ContextType`.  Neat!

[2017-03-05 03:40] bannsec opened #927 "ROP arch when no context() call"
Perhaps this is another design decision, but I've noticed that without a context() call, the ROP.call method will default to 32-bit calling convention. It would be neat in my opinion if the rop class would pick up the relevant information that the ELF class already loaded.

Example:
[code]

The ELF call figured out it's amd64-little, but the ROP class appears to still believe it should use 32-bit

[2017-03-05 03:41] zachriggle commented on #927
ROP knows nothing at all about any calling convention except i386.
On Sat, Mar 4, 2017 at 9:40 PM Owlz <notifications@github.com> wrote:

[2017-03-05 03:42] zachriggle commented on #927
But in any case, yes, you must set the context.

It's doing exactly what you're asking if it.
On Sat, Mar 4, 2017 at 9:41 PM Zach Riggle <zachriggle@gmail.com> wrote:

[2017-03-06 20:35] zachriggle opened #928 "Big-endian ARM Disassembly is Incorrect"
If we run the `objdump` command manually on the original files, everything works!

[code]

The endiannesses are appropriately identified.

[code]

Code contents are identical, because ARM endianness is weird and doesn't affect on-disk byte order.

[code]

We can verify that this matches the data-on-disk in the original file, in both files.

[code]

Only the little-endian one disassembles correctly

[2017-03-06 21:02] zachriggle commented on #928
Apparently, per ARM, ARMv7 and above do not support BE32 mode (which is the "normal" big-endian mode): http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0471h/BABGCBIF.html

I vote that we just don't support anything prior to ARMv7.  @Idolf @br0ns @nneonneo do you have any need for ARMv6 things to work?

[2017-03-06 21:20] zachriggle commented on #928
Though that would cause issues of how all of the `pack` and `unpack` stuff should work.

This is annoying.

[2017-03-11 21:39] #927 closed, assigned to nobody

[2017-03-12 09:00] zachriggle commented on #928
I think perhaps the best way to solve this is to add another `context.endian` option, which is `be8` or `big-8` and replace `context.endian == foo` with `context.endian.startswith(foo)` in any case `foo` is anythinh *except* the explicit string `"little"`.

[2017-03-14 20:41] bannsec opened #929 "Reverse Constant Lookup"
I find myself often looking up a constant value either through online documentation or .h files.

Is this something pwntools can do? I've found i can use the following line to help with this task:

[code]

Obviously, replacing 0xe with whatever the constant i'm looking for is, and constants.linux with any other OS if need be.

[2017-03-14 20:42] zachriggle commented on #929
Yes, there is a command-line tool for this, "constgrep"
On Tue, Mar 14, 2017 at 3:41 PM Owlz <notifications@github.com> wrote:

[2017-03-14 20:47] bannsec commented on #929
Interesting. I can only get it to go from string -> constant. not the other way:

[code]

[code]

[2017-03-15 15:56] zachriggle commented on #929
A quick hack is "constgrep | grep 11"

[2017-03-23 08:39] mkravchik opened #930 "Documentation: pwnlib.dynelf example should use p.leak and not p.read"
Hi,
In the example code at for [dynelf](http://docs.pwntools.com/en/stable/dynelf.html?highlight=dynelf) it uses p.read to read process memory.

This looks like an error to me, it should be **p.leak** instead.

[2017-03-23 17:59] zachriggle commented on #929
I had a prototype for this, but ended up rewriting all of `constgrep`, which is probably a bad plan.

[2017-03-23 18:04] zachriggle commented on #930
Kind of, I can see the confusion.

The intent of the example is to "assume" that we have some process where we can leak data via some mechanism.  In the example, we just use `p.read`, where `p` is a `process` object.

The example isn't "complete" since we'd have to package a binary and make the example more complex.  It's intended just to show the **general idea** of how to use `DynELF` in normal

[2017-03-23 18:05] zachriggle opened #931 "DynELF Documentation is Insufficient"
Per #930, our documentation for DynELF isn't as complete as it could be.  There are no functioning examples, just a "this is the general idea" type documentation showing the methods.

[2017-03-23 18:05] zachriggle commented on #930
Closing this in favor of #931 for tracking.

[2017-03-23 18:05] #930 closed, assigned to zachriggle

[2017-03-24 06:51] Isaac0616 opened #932 "Automatic finding one-gadget"
There is a [tool](https://github.com/david942j/one_gadget) for finding one-gadget written in ruby. Is it a good idea to have one in pwntools?

[2017-03-24 17:30] zachriggle commented on #932
Perhaps? It'd be better / easier to use if there were a single endpoint which had all of the offsets in a neutral format like JSON.

I think that the other tool is useful in its own right, I'm not sure that it necessarily fits into the Pwntools workflow currently.

[2017-03-26 10:11] Need-To-Learn opened #934 "Generic function to get section offset"
I looked at the doc and the source code and I didn't find any functions which can return any section's offset quickly.

For instance, if I want to get the '.got.plt' section I have to do :
[code]

I think that it should be an interesting feature to implement.

[2017-03-26 12:12] skysider opened #935 "Can fmtstr_payload control the number of bytes to overwrite at specific position?"
I notice the 'writes' parameter in
`fmtstr_payload(offset, writes, numbwritten=0, write_size='byte'):`
is a dict and the value of the key is always 4 or 8 bytes depending on the arch. But in some occasion (for example, the printf buffer is not big enough  or we don't know the high bytes of some address), we only need to overwrite 1 or 2 bytes at specific position, so I think it's necessary to spec

[2017-03-29 09:32] mkravchik opened #936 "Help needed: Passing a result of a function as an argument in ROP"
Hi,

I've spent some time trying stuff and searching and, once not found, finally turn to the source :-)
I'm building a ROP chain that calls a function and then passes its result as an argument to the next one.
Something like:
fd = open("/tmp/bla", O_RDWR)
write(fd, data, len)

How do I do it with ROP? I have found gadgets that push rax and pop rdi (I'm on amd64), but how do I use these together w

[2017-03-29 17:21] zachriggle commented on #936
There is no mechanism for this.  You're much better off making a reasonable assumption about the return value.  File descriptors are sequential and easy to predict.

[2017-03-29 17:21] #936 closed, assigned to nobody

[2017-03-29 21:23] bannsec opened #937 "Multi-Unused Register ROP Sets"
I find myself running into quite a few situations with ROP and pwntools where it complains about not being able to set a reg (for instance, rsi). Looking into the gadgets that pwntools already knows about, there has become a tendency for me to find something like the following:

[code]

In this case, r15 is not a registers that matters or is used for that particular ROP call. However, it is being

[2017-03-29 21:32] zachriggle commented on #937
I don't plan to invest any time into making the `ROP` module more robust that is not part of #686

[2017-03-29 21:32] #937 closed, assigned to nobody

[2017-03-30 16:57] zachriggle commented on #935
Not in its current form.  I have some work-in-progress in #827 which would make this possible.

[2017-03-31 13:59] dummys opened #939 "Pwntools can't find the path for binutils for foreign architecture"
Hi,

I'm on Arch linux and I try to use shellcraft. Pwntools is not finding the binutils which are installed in ```/usr/sbin```
name: ``` arm-none-eabi-as ```
Is there a way to tell pwntools to search for binutils in a specific directory ? Like an env var or something ?
Because it's really not an option to use crappy ubuntu...
EDIT: For Archlinux user, install from AUR package ``` arm-linux-gnueab

[2017-03-31 14:23] #939 closed, assigned to nobody

[2017-04-01 13:57] mcdenhoed commented on #644
I'm using Pwntools 3.5.0 in Windows 10's linux environment and am also seeing the "invalid argument" error when I try to use `run_shellcode`

[code]

[2017-04-02 03:05] zachriggle commented on #644
Pwntools does not work on Windows, even under Linux emulation layer,
because Windows does not provide a valid ANSI/vt100/curses-compatible
terminal emulation.
On Sat, Apr 1, 2017 at 8:57 AM Mark <notifications@github.com> wrote:

[2017-04-02 22:10] zachriggle commented on #934
Normally, I'm one to add features (because LOC are cheap), but in this case I'm not sure there's really a "better" way to do it.  The difference would just be a different function name, and a few characters saved.  I think that `get_section_by_name` is sufficiently generic to get at what people want, and has a standardized interface (via `pyelftools`).

Adding individual-header-field-accessor-meth

[2017-04-02 22:10] #934 closed, assigned to nobody

[2017-04-02 22:11] zachriggle commented on #934
As a side-note, I think a better way to do this would be to submit an upstream patch to `pyelftools` which accesses `self.header` fields via `__getattribute__`.  This would strip a the `.header` bit, and make your example slightly shorter.

[2017-04-06 04:28] jiachen247 opened #942 "https://demo.pwntools.com/ Suceptabile to Bash Injection #pwned"
Demo link in the README.md exposes a limited shell on the server.

Import os;
os.system("/bin/sh");
$

![img_20170406_121032](https://cloud.githubusercontent.com/assets/17170991/24737789/fd1fe2ca-1ac3-11e7-9ca1-e0bf5d8e329f.jpg)

pls fix thanks

[2017-04-06 04:39] zachriggle commented on #942
I think you entirely missed the point.

[2017-04-06 04:39] #942 closed, assigned to nobody

[2017-04-12 22:15] zachriggle opened #943 "Exception on 'pwn template' via SSH when `path` is not provided"
[code]

[2017-04-12 22:15] zachriggle opened #944 "ssh.checksec() is too slow"
The feature for `ssh.checksec()` is really pretty slow.  We should cache the results so that it only needs to be run once.

[2017-04-12 22:32] zachriggle opened #946 "Corefile complains "Did not find any GOT entries""
When loading a Corefile, we now complain with a warning message about missing GOT entries

[2017-04-12 22:46] zachriggle commented on #946
This actually only occurs in `beta` and newer

[2017-04-13 01:42] zachriggle opened #949 "SSH corefile permissions"
We should warn users that try to use ssh_process.corefile when the process was last seen in a non-writable directory

[2017-04-15 08:41] #944 closed, assigned to zachriggle

[2017-04-15 09:25] #943 closed, assigned to zachriggle

[2017-04-15 09:25] #946 closed, assigned to zachriggle

[2017-04-17 21:07] zachriggle opened #953 "travis/install.sh uses Pwntools PPA for Xenial and newer"
Ubuntu Xenial added assemblers / binutils for most architectures that users care about.  There's not really a need for the Pwntools PPA to be used on these newer releases.

[2017-04-18 12:15] reu-res opened #955 "Add option to select custom template for generation"
Currently only the base template is available. For example, I want a template that doesn't use an ssh connection, or use my own template.

[2017-04-18 18:26] zachriggle commented on #955
The template does all of the permutations of tubes.  It does not require you to use e.g. SSH.

I do not intend to add functionality to extend the template, as the logic is pretty well tied into the current template.

If you'd like to make additions or changes to the current template / template tool, Pull Requests are encouraged.

[2017-04-18 18:26] #955 closed, assigned to nobody

[2017-04-20 07:27] mkravchik opened #958 "Core file not generated when running with pwntools.process"
Hi,

I'm working on a [VR Gear Console PicoCTF 2017](https://2017game.picoctf.com/game/level-2/challenge/VR-Gear-Console) challenge. Wanted to find the payload using pwntools' corefile so I will not need to do it manually. However, when I run and crash the process using pwntools
no coredump is created. When I do it manually, it is. I'm running the latest (3.5.1) on Ubuntu 14. I noticed that the fi

[2017-04-20 07:31] mkravchik commented on #958
Please disregard, I've found the problem - I was using send instead of sendline and the process was not crashing as expected.

[2017-04-20 07:31] #958 closed, assigned to nobody

[2017-04-25 22:50] BustedSec commented on #644
What if you enabled sshd and used putty to connect or emulated tty with pty in a pseudo terminal

[2017-04-28 17:25] #953 closed, assigned to nobody

[2017-04-29 00:07] zachriggle opened #963 "Templates are broken with *GDB*"
Come back after quals

[2017-04-29 16:44] Matir opened #964 "pwnlib.util.misc.run_in_terminal does not respect $TERM_PROGRAM"
The documentation for `pwnlib.util.misc.run_in_terminal` asserts that it will respect the environment variable $TERM_PROGRAM, however that does not actually occur.

There's no reference to this environment variable when detecting which terminal to use:

[code]

[2017-04-30 02:06] zachriggle commented on #964
Huh! Whoops. Will fix soon, but not before the end of DEFCON!
On Sat, Apr 29, 2017 at 11:44 AM David Tomaschik <notifications@github.com>
wrote:

[2017-04-30 03:37] XVilka opened #965 "Radare2 integration"
Using r2pipe, seems that can substitute many things...

[2017-04-30 14:56] lflare commented on #529
@zachriggle, is this issue considered abandoned?

[2017-04-30 21:33] securifera opened #966 "No module named fcntl on Windows"
When importing pwnlib in windows, it errors out on load with " No module named fcntl".  I understand this is a linux only library but it would be preferable if OS specific libraries were not attempted to be loaded on all OSes.

[2017-05-01 06:07] zachriggle commented on #966
Windows is not supported.

[2017-05-01 06:07] #966 closed, assigned to nobody

[2017-05-01 06:08] zachriggle commented on #965
Specific suggestions are recommended, as is im closing this. Thanks!

[2017-05-01 06:08] #965 closed, assigned to nobody

[2017-05-01 06:23] #964 closed, assigned to nobody

[2017-05-01 08:53] XVilka commented on #965
@zachriggle interestingly enough you're not closing this... https://github.com/Gallopsled/pwntools/issues/707

[2017-05-01 17:02] zachriggle commented on #965
Yes, because that one has specific examples. Yours isn't even a complete
sentence.
On Mon, May 1, 2017 at 3:53 AM Anton Kochkov <notifications@github.com>
wrote:

[2017-05-03 00:12] zachriggle opened #969 "Corefiles only generated once"
In an attempt to optimize corefile *parsing*, we cache the `Corefile` object in `process.corefile`.

This has the unfortunate side-effect of limiting the number of Corefile objects that can be generated to just one.

[2017-05-04 04:07] zachriggle opened #971 "Capstone Install is ~=Broken"
See aquynh/capstone#916

[2017-05-04 17:36] zachriggle commented on #963
Fixed via #968

[2017-05-04 17:36] #963 closed, assigned to nobody

[2017-05-04 17:36] zachriggle commented on #963
@Idolf this affected the current `beta` release, but since there is a new release on Sunday, no need to cut a point-release

[2017-05-04 18:01] zachriggle opened #973 "Hang on GDB failure, because Docker"
When running inside a docker image without `--privileged`, all `ptrace` calls fail.

This is despite invoking `prctl(PR_SET_PTRACER, PR_SET_PTRACER_ANY, 0, 0, 0)` and it succeeding.

This manifests silently as a hang on "Waiting for debugger".  We should add a timeout on this.

In the event that GDB fails to attach, it may exit silently and without an error code.

## Example 1 (Core dump)

I copie

[2017-05-04 18:06] zachriggle commented on #969
Closed by #979

[2017-05-04 18:06] #969 closed, assigned to zachriggle

[2017-05-05 15:12] rofl0r opened #974 "NameError: global name 'numb' is not defined"
[code]
this happens when i press + and enter on the numeric block without having numlock on.
also kinda weird even that this is handled by pwnlib, since i call a function from sys.

[2017-05-05 15:17] rofl0r commented on #974
from that point on stdin is dead, any try to access it causes this exception, even if caught.

[2017-05-05 15:24] rofl0r commented on #974
this happens quite a lot since sometimes when i enter a command into my program i instinctively hit enter on the numpad. from that point on my application becomes unusable and i have to kill it. no workaround found so far.

[2017-05-05 18:42] zachriggle commented on #974
I can't reproduce this.  Please provide steps that I can reproduce in the docker image.

[code]

To run in Docker:

[code]

[2017-05-05 19:36] rofl0r commented on #974
this causes the bug for me:
test.py
[code]
`python test.py`
hit + on numeric block with numlock off

i'm sorry but i cannot use docker, since my [custom linux distribution based on musl libc](https://github.com/sabotage-linux/sabotage) doesn't yet bundle a go compiler. but even if it's not reproducible on a mainstream distro, the bug is real as can be seen from the fat XXX in the comment...

[2017-05-05 19:38] rofl0r commented on #974
note that i cannot reproduce the issue either in an interactive python session - it must be run from a script

[2017-05-05 19:45] rofl0r commented on #974
a member of my team just tried it on debian, and he was able to reproduce the issue running the above script. *sigh of relief*

[2017-05-05 19:54] zachriggle commented on #974
I still cannot reproduce this on either macOS or Ubuntu 16.04.

[code]

[2017-05-05 19:55] zachriggle commented on #974
I don't have any computers with a full keyboard, so no number pad to hit the `+` key on, or to turn NumLock off.

[2017-05-05 19:56] rofl0r commented on #974
it should be sufficient to just hit "+" on numeric block. my friends debian version is
[code]

[2017-05-05 19:56] rofl0r commented on #974
damn, in that case i guess you won't be able to reproduce it! no usb keyboard lying around somewhere ?

[2017-05-05 19:57] zachriggle commented on #974
Nope! :-\

[2017-05-05 19:58] zachriggle commented on #974
In any case, this is in the `term` code which I don't touch.

[2017-05-05 19:59] zachriggle commented on #974
It looks like that code (minus the XXX warning, which was added later) comes from ab3d128a776ec29faf281f33644fecdb32e79d3e

[code]

[2017-05-06 23:53] rofl0r commented on #974
hey @br0ns , do you have an idea why this code is interfering with my invocation of sys code ? this looks like quite a nasty hook to me.

[2017-05-07 00:23] zachriggle commented on #974
You can disable term mode by setting PWNLIB_NOTERM in your environment, or
invoking your script with "python foo.py NOTERM". This will disable all
animations and fancy terminal things, and also resolve your issue.
On Sat, May 6, 2017 at 6:54 PM rofl0r <notifications@github.com> wrote:

[2017-05-07 02:43] rofl0r commented on #974
thanks! when looking at the issues/PRs here, i have the feeling that assigning @br0ns to a task is about the same as closing it with EWONTFIX.. :)

[2017-05-07 16:07] rofl0r commented on #974
@zachriggle: is there a way to set this from code, rather than changing the environment or script args ? i'd rather do context.term_mode = False in my code and have the issue fixed once and for all, than having to start my program from a shell wrapper so i dont forget to set the env var.

[2017-05-07 23:08] zachriggle commented on #974
Unfortunately the term initialization opt-out *must* pre-empt "from pwn
import *"
On Sun, May 7, 2017 at 11:07 AM rofl0r <notifications@github.com> wrote:

[2017-05-09 12:31] Caesurus opened #977 "exploit template script missing pwnup.mako"
I was trying to use the new template functionality.

My system is Ubuntu 16.04 (sorry did not have a 14.04 system available to test with). I made sure to update to the latest versions using `pip install --upgrade pwntools`

When I run the command: `$ pwn template`
I get the following:
[code]

[2017-05-10 15:36] br0ns commented on #974
I've made a PR with an attempt at a fix: https://github.com/Gallopsled/pwntools/pull/978

The code is based on [libtermkey](https://github.com/neovim/libtermkey).

[2017-05-10 21:45] rofl0r commented on #974
cool! i confirm that the issue is now fixed. if numlock is off, and "+" is being pressed "+k" is shown in the terminal instead of crashing. thank you!

[2017-05-10 22:01] zachriggle commented on #974
Merged to `stable` in #979; this fix will be in `3.6.1`

[2017-05-10 22:01] #974 closed, assigned to br0ns

[2017-05-10 22:17] zachriggle commented on #489
Apparently this is a high-traffic issue (100+ unique visitors per month) so it's worth stating that this is now fixed.

[2017-05-18 06:07] TethysSvensson commented on #977
This should be fixed in 3.6.1. Please reopen of that is not the case.

[2017-05-18 06:07] #977 closed, assigned to nobody

[2017-05-18 06:12] TethysSvensson opened #983 "DynELF libcdb feature requrests"
- The ability to turn downloading off and use in-memory resolving exclusively (should ignore the cache as well)
- Update in the docs to show that the libcs are cached to find the downloaded libc.
- Negative caching: If we cannot download a libc (bug, gitlab is down, the libc does not exist), this should be cached. At *least* an in memory negative cache, but I would prefer if we put something time-

[2017-05-19 17:51] Caesurus commented on #977
Verified as fixed on my system with the update to 3.6.1. Thanks

[2017-05-21 07:31] Kyle-Kyle opened #985 "Interact with a shell program"
It seems that pwntools can not help sometimes when dealing with a shell binary (need EOF to move on to next level)
For example:

[code]

To get out of the loop, EOF is needed. And this program behaves as expected when run directly.
However, as far as I know what I can do with pwntools is
1. get out of the loop and miss the last input by closing the connection
2. never get out of the loop

I tried

[2017-05-21 18:17] zachriggle commented on #985
You can, but you're doing that RCTF challenge wrong.

See [`tube.shutdown`](http://docs.pwntools.com/en/stable/tubes.html#pwnlib.tubes.tube.tube.shutdown)

[2017-05-21 18:17] #985 closed, assigned to zachriggle

[2017-05-22 02:46] Kyle-Kyle commented on #985
Excuse me. I guess you misunderstand what I mean. It's supposed to be a PTY problem not a shutdown or stdin.close problem.
Actually I have work the challenge out, but not in the way I have mentioned. But I just wonder why it does not work.
If you compile the code and run it manually, **after it receives EOF**, it goes on and wait to **receive your next input**.  I wonder whether I can accomplish i

[2017-05-22 05:54] zachriggle commented on #985
I might have misunderstood, there are a large number of IRC requests for a given challenge.  In any case, you can send whatever PTY commands you want.  You'll need to make stdin a PTY, and configure it.  I recommend looking at "man stty" for more information. You want to send EOT, not EOF.  In either case, it's not something the binary actually receives, but something handled in the kernel by the

[2017-05-22 07:42] zachriggle commented on #985
# How to send true EOF in Pwntools to a local process

What you're asking for is surprisingly complex for a lot of reasons.  To follow up a bit, you need to look at the following resources:

- `man 1 stty`
  - In particular, note that there are a lot of fucking settings.
  - Lots of things can be turned on and off.
  - Lots of things are remappable (e.g. `stty eof=41`)
- `man 4 tty_ioctl`
  - In p

[2017-05-22 08:02] Kyle-Kyle commented on #985
Holy crab....What have I asked...
And I'm so grateful for your thorough answer.

[2017-05-22 20:00] zachriggle commented on #983
Most of these are doable, with the exception of "Could we add a test to make sure that all the links are working?".  There's no way to automate this externally, it'd have to be something done on the libcdb side.

[2017-05-23 02:31] zachriggle opened #987 "Travis Logging is Fucked"
It looks like something weird happened to logging in Travis: https://travis-ci.org/Gallopsled/pwntools/builds/234590377

It looks like *all* logging is being sent to either stdout or stderr, and that it's all being printed by Travis.

[code]

[2017-05-23 02:32] zachriggle commented on #987
This was not happening as recent as https://travis-ci.org/Gallopsled/pwntools/builds/221838602

Which tested 348f6dfbe74d13787d80175ef45bb20a6926301b from April 13

[2017-05-23 02:33] zachriggle commented on #987
It was also not happening with https://travis-ci.org/Gallopsled/pwntools/builds/231467318

Which tested b8e902b61197ab98628af19efadc07800dac2507 from May 12

[2017-05-23 02:35] zachriggle commented on #987
From the list of builds... https://travis-ci.org/Gallopsled/pwntools/builds

f7568b47b3fd5c33d14c3dc600f6dd72a6af768e <-- fucked

2ccd36ca7f904f9973c3d19b2cf9c6e719a9b08e <-- fucked

9062360041927139922671d62458b6d40aa5e023 <-- okay

It looks like everything changed with 2ccd36ca7f904f9973c3d19b2cf9c6e719a9b08e, but that just changed the `CHANGELOG.md`.

I expect this is a Travis CI issue.

[2017-05-23 02:37] zachriggle commented on #987
I re-started the build https://travis-ci.org/Gallopsled/pwntools/builds/232633297 for 9062360 to see what it does.

[2017-05-23 04:25] zachriggle commented on #987
Yep it's Travis's fault.  They fucked logging somehow.

[2017-05-23 08:30] TethysSvensson commented on #983
Sure, I should have filed that on the libcdb repo.

[2017-05-23 09:42] zachriggle commented on #983
Closed via #986

[2017-05-23 12:59] TethysSvensson opened #988 "Setting context.bits in .pwn.conf is broken"
If I try to set `context.bits` in `.pwn.conf`, then it becomes a string instead of an integer.

[2017-05-23 13:17] TethysSvensson opened #989 "DynELF outputs a bad warning"
DynELF will sometimes output the warning `No ELF provided.  Leaking is much faster if you have a copy of the ELF being leaked.`, even though an ELF was provided. It seems to be because it calls itself recursively.

[code]

[code]

[code]

[2017-05-23 13:22] TethysSvensson commented on #983
There are still a few things from the above list missing:

- The negative caching should time-limited (since libcdb might introduce more/fix broken symlinks)
- The local libc should be tried

[2017-05-23 14:57] zachriggle commented on #989
Yeah, I remember seeing this a while ago.  Thanks for filing a bug!  I don't look forward to fixing this one :(

[2017-05-23 14:57] zachriggle commented on #988
ಠ_ಠ

[2017-05-23 14:58] zachriggle commented on #983
Good catch, thanks!

[2017-05-26 02:25] zachriggle opened #990 "Docker "Base" Image"
Pulling Docker images requires pulling like 4 gigs.  This sucks.

I made a "base" image which is based on Ubuntu Xenial, which should ideally never change.

Pulls are now faster.  This is already done, just a heads-up as it may make our Docker containers slightly-less-secure since they're not up-to-date against Xenial.

[code]

[2017-05-29 07:54] ChibiDenDen commented on #644
another issue i had with windows 10 compatibility is the "process" command
it fails when "raw=True" which is the default.
passing raw=False to the constructor works

please consider this when improving windows 10 support

[2017-06-02 20:02] zachriggle commented on #990
Everything looks good to me, much faster now to update!

[2017-06-02 20:02] #990 closed, assigned to zachriggle

[2017-06-09 12:18] disconnect3d opened #995 "Wrong i386 asm after changing arch"
Hey,

There is a different output for:
[code]

When:
* being on default arch - i386
* switching to amd64 and back to i386

The bug happens on my machine (Arch Linux + pwntools 3.6.1) as well as on a docker container built with `extra/docker/stable/dockerfile`.

This can be observed below.

[code]

[2017-06-09 13:12] david942j commented on #995
For the second bullet

Use `pwn.context.clear(arch='i386')` instead of `pwn.context.arch='i386'` will have the same behavior without switching arch.
Seems pwntools prefer to use `clear` for setting context instead of simply call `:attr=`

[2017-06-09 15:22] disconnect3d commented on #995
I guess that's somehow related to caching.

Imho clearing the cache would be a reasonable default - `pwndbg.context.arch` should be just a property that would clear it.
At least it wouldn't make people fall in 'weird' problems.

[2017-06-09 17:23] zachriggle commented on #995
This is a duplicate of #926

[2017-06-09 17:23] #995 closed, assigned to nobody

[2017-06-09 17:26] disconnect3d commented on #995
@zachriggle Any chance on changing this behavior or/and accepting a PR that would do so?

[2017-06-09 17:44] zachriggle commented on #995
Not in particular.  The behavior is critical for determining what happens in this scenario:

[code]

PowerPC defaults to set `endian` to `big`, for convenience.  However, we've already set it to `little`.  What should happen when `arch` is set?

We've settled on "Setting `bits` and `endian` is a helper, and those are only modified by `arch` if they are not set."

If you'd like to clear the context

[2017-06-18 13:42] Kyle-Kyle opened #997 "format string enhancement"
fmtstr tools place pointers before formats in payloads.
But such payloads can be useless when vulnerable functions are something like `printf` or `sprintf`. They will stop at `\x00` which often appear in pointers.
If formats are placed before pointers, such problems can be easily resolved since formats are printable.
For example, `'\x41\x41\x41\x41\x41\x7f\x00\x00%100c%10$hhn'` is what payload loo

[2017-06-21 16:39] zachriggle commented on #997
See #827

[2017-06-22 05:04] Kyle-Kyle commented on #997
Well..Actually, I have reconstructed `libformatstr`. And it is bug free(maybe?) and has more features now. New features  include 64bit support and controlling number of bytes to write. If you wish, you can take it as a reference. Or maybe, can I take this project? I like challenges.

[2017-06-22 17:14] zachriggle commented on #997
If you'd like to pick up #827 and continue the work there, that would be much preferred instead of:

1. Updating the current code
2. Replacing the current code with `libformatstr`
3. Replacing the current code with a modified / updated version of `libformatstr`

[2017-06-24 12:12] Kyle-Kyle commented on #997
I've gone through the code in formatstring.py. I found that an optimization is applied to memory chunks in order to reduce print length.
But this optimization is one of the buggy parts. Example:
[code]
And let's forget about the bug which is relatively easy to fix . Let's talk about the outcome of this optimization. The expected outcome is that the length of our payload is not much affected while

[2017-06-27 15:11] zachriggle opened #999 "Port Pwntools to Rust"
:trollface:

[2017-06-27 15:12] zachriggle commented on #999
Everybody knows that ~~`go`~~ ~~`dart`~~ `kotlin` is the new hotness!

[2017-06-27 15:12] #999 closed, assigned to TethysSvensson

[2017-06-27 15:18] zachriggle commented on #997
Yep! It's all work-in-progress code.  However, it's a good foundation for having semi-automated format string exploitation that works with *generic* code on *all* architectures and ABIs, against *any* `*printf` routine.

No, you've got the intent backwards.  See the actual [documentation of the optimization](https://github.com/zachriggle/pwntools/blob/4ca6b0bb3f574ed7f20ed385f633df5f9e990f40/pwnli

[2017-06-27 18:55] zachriggle commented on #997
For the example that you call out:

[code]

... I'd expect the optimization to only emit four writes ...

[code]

As I said at the end of the above comment, this code is all work-in-progress :)

In its current state, it probably makes a poor choice and splits `00 41 41 00` into `00` `41 41` and `00` again, which makes five writes.

I believe this is the same conclusion that you made in your commen

[2017-07-11 21:41] #988 closed, assigned to nobody

[2017-07-15 04:01] iromise commented on #997
Happy to see that this feature is on the way. Is there anything I can do? Hope it can be used soonly.

@Kyle-Kyle  I am wondering whether you are still developing this feature?

[2017-07-27 21:49] rofl0r opened #1004 "interactive() readline history chokes on UTF-8 characters"
test.py (doesn't work from inside REPL):

[code]

- enter a string containing UTF-8 characters such `löl` `<ENTER>`.
- hit cursor-up to access readline history
- encounter exception:

[code]

[2017-08-06 08:39] vaioco opened #1010 "cannot find a shell for gdb.attach"
running gdb.attach() or gdb.debug() I got error: "error cannot find shell".
I am running latest pwntools, any suggestion?

thanks

[2017-08-07 19:14] MumbaiHH opened #1011 "Override KeyboardInterrupt in pwnlib"
# Pwntools Issue Template

Hello, I was curious if it was possible to modify the KeyboardInterrupt fuction in pwnlib without modifying the source itself? I'd attempted placing except KeyboardInterrupt within the code, but pwntools overrides the fuctionality. I was attempting to do this the interactive fuction, to stop the shell from being killed, similiar a "hack" of stty raw -echo with netcat :D

[2017-08-22 09:05] ghost commented on #1010
Hi vaioco,

are you by any chance running _terminator_ as you default terminal emulator? If so, I also encountered this problem. Something is messed up with terminator's `x-terminal-emulator` script... try to set the following *before* calling `gdb.attach()`: `context.terminal = ["terminator", "-e"]`

HTH

[2017-08-25 10:13] dummys opened #1016 "using gdb.attach, no shell is opened, even if pwntools say it"
Hi,

I'm trying to spawn a gdb in a new terminal. I'm using urxvtc, but tested same problem with xterm or lxterminal.

Here is my code:

[code]
As I understand, it should popup a new shell with gdb already connected right ?
I'm using latest pwntools with Archlinux and AwesomeWM.

[2017-08-25 15:33] zachriggle commented on #1016
It should, but I’ve got no idea how urxvtc works or it’s command line
flags. I’d recommend reading the man page to see what flags you need to
pass to it to get it to execute a command.
On Fri, Aug 25, 2017 at 5:13 AM dummys <notifications@github.com> wrote:

[2017-09-01 20:40] zachriggle opened #1018 "Corefile fault_addr on amd64"
When doing ROP on `amd64`, the `fault_addr` of the generated corefile is zero.

This is a little bit confusing, because the fault address is not zero, it's whatever is on the top of the stack (e.g. `faaagaaa`).

This is *extra* confusing because `i386` behaves how we would expect.

I suggest the following change which should make things function the way we'd expect.

[code]

[2017-09-01 20:42] zachriggle commented on #1018
The context / impetus for this is the challenges in ROP Emporium are provided in both architectures, and it should be possible to have a single exploit script that works for *either*.

Currently, this is the biggest hiccup, aside from limitations of `pwnlib.rop.rop.ROP.setRegisters` requiring super basic gadgets.

[2017-09-01 20:58] zachriggle opened #1019 "ROP setRegisters"
The current issue with `setRegisters` is that it **requires** basic gadgets a la `pop rdi; ret`.

If we need to set `rdi` and `rsi` and we have the following gadget, it will fail:

[code]

We can solve this in two ways.

### Dirty matching

Just use whatever matches we can get away with.  This will bloat our ROP stack.

### Set cover problem

This is ultimately the Set Cover Problem.  Given a set

[2017-09-01 21:01] zachriggle commented on #1019
We should also cache the results of this operation, since it may be expensive.

[2017-09-02 04:58] evandrix commented on #462
in that case, is there a suitable alternative to `pwntools` for Windows 7 then?

[2017-09-06 03:19] wangray commented on #529
@zachriggle name your price

[2017-09-06 18:07] zachriggle opened #1021 "Travis Switched to Ubuntu 14.04 And Everything Is Broken 🔥🔥🔥🔥🔥"
[code]

I'm not sure why this is failing now, since these packages are in the Travis CI whitelist.

https://github.com/travis-ci/apt-package-whitelist/blob/9439e99bbd4ed813d3ed0e4dfb84bbf1bfb40d95/ubuntu-precise#L1177

[2017-09-06 18:13] zachriggle commented on #1021
Apparently they switched us to Trusty builds? o_0

[code]

[2017-09-06 18:14] zachriggle commented on #1021
https://blog.travis-ci.com/2017-08-31-trusty-as-default-status

[code]

[2017-09-06 19:25] zachriggle commented on #1021
LOL.

[code]

[2017-09-06 19:47] zachriggle commented on #529
A bottle of Pappy Van 20yr would do it 🥃

[2017-09-06 19:49] wangray commented on #529
But seriously, what would this take as of right now? @fortenforge and I would like to help in our spare time.

[2017-09-06 20:40] zachriggle commented on #529
In theory, this is a large-scale project that we have an entry for at in the [Projects](https://github.com/Gallopsled/pwntools/projects) tab.

The best starting point is probably the [`futurized` branch](https://github.com/zachriggle/pwntools/tree/futurized), which was based on version `2.2.0`.  Most things work on Python2 (I think the old tests passed, even).  Many of the things work on Python3,

[2017-09-07 21:14] zachriggle opened #1024 "Thumb Syscalls Broken under QEMU"
At some point in time, `qemu-arm` (user-mode emulation) stopped correctly handling `svc 0x41` and will now throw an unhandled exception and abort the process.

Currently, `shellcraft.thumb.linux.syscall` makes use of this.

I don't think there's a pattern we can use which avoids NULL bytes.

[2017-09-11 15:39] zachriggle commented on #1024
For what it's worth, this has not always been the case as we [have tests for e.g. thumb.linux.sh](https://github.com/Gallopsled/pwntools/blob/dev/pwnlib/shellcraft/templates/thumb/linux/sh.asm) which should run and would theoretically fail...

[code]

...but clearly work in some cases

[2017-09-11 15:57] met30r opened #1025 "Kali-64bit-rolling problem executing a exploit"
Hey guys, Im new using pwntools, and two days ago I tried to use it against a real enviroment the thing that happens is that the python script doesnt work so i have been waiting to a writeup with pwntools and the problem is that even upgrading my pwntools to the last version.

Upgrade log = https://pastebin.com/NHgRYVDj

I keep having the same issue, the script doesn't work I've been trying to fin

[2017-09-11 15:59] zachriggle commented on #1024
The relevant code for user-mode emulation is here: https://github.com/qemu/qemu/blob/619c200f6ce2f44fbc8a5732174530c3b4782aab/linux-user/main.c#L648-L728

In particular, `n` is the extracted syscall `SWI` immediate, which has this code:

[code]

It looks like Thumb mode will always use `r7` for the syscall number.

In the failing case that I'm reporting, we take either the `default` or `goto error

[2017-09-11 16:04] zachriggle commented on #1024
And now I can't reproduce the issue.

[2017-09-11 16:11] zachriggle commented on #1024
Okay, I CAN reproduce the issue, but not with `sh` shellcode.

[code]

If we stop on the first `svc #0x41`, CPU state looks like:

[code]

Single-stepping at this point causes QEMU to abort entirely (killing the GDB session).

[code]

Where I was wrong about this issue is that it was Thumb-specific, it's precisely the opposite, which goes along with the above code.  However, this means that it's n

[2017-09-11 16:12] zachriggle commented on #1024
Crashing binary attached (rename from `.jpg`, md5 `bc16b2cb3eef79ec6e991a3771becad1`).
![arm-read-shellcode elf](https://user-images.githubusercontent.com/111640/30284926-0f7ad0fc-96e2-11e7-8b13-c9fb5995f547.jpg)

[2017-09-11 16:15] zachriggle commented on #1024
Okay, and we don't generate any code of this type in `pwntools`, since we use `svc 0` for ARM and `svc #0x41` for Thumb.

The reason that this happened at all, and I went down this rabbit hole, is because I was trying to shoehorn Thumb shellcode into ARM and assembling it as ARM so we'd get `svc #0x41` but in ARM mode, which QEMU doesn't like.

[2017-09-11 16:16] #1024 closed, assigned to zachriggle

[2017-09-13 17:05] bennofs commented on #1018
What's the `\xc3` magic constant there?

[2017-09-13 20:23] bennofs commented on #1016
I know what the issue is here. It has to do with the urxvtc parses the commands, and I have a really ugly wrapper script for it here: https://github.com/bennofs/dotfiles/blob/6ead59762afe9f4015fde823467b35f5d52f7fa9/bin/launch-terminal

If you set `context.terminal` to that script and replace `urxvt` by `urxvtc` it should work fine.

I am not 100% sure on the details, but IIRC `urxvtc -e "foo a b

[2017-09-14 02:02] zachriggle commented on #1018
It is a `ret` instruction.

[2017-09-14 02:07] 0xlwoe21k opened #1027 "pwntools.asm error on Mac"
[ERROR] There was an error running ['/usr/bin/as', '-32', '-o', '/var/folders/mx/8thsjf7x4lnclztwf7jlxv4c0000gn/T/pwn-asm-TzlVjZ/step2', '/var/folders/mx/8thsjf7x4lnclztwf7jlxv4c0000gn/T/pwn-asm-TzlVjZ/step1']:
    It had the exitcode 1.
    It had this on stdout:
    clang: error: unknown argument: '-32'

[ERROR] An error occurred while assembling:
       1: .section .shellcode,"awx"
       2: .g

[2017-09-14 02:30] zachriggle commented on #1027
You need to install a proper `binutils`.  Please follow the installation instructions: http://docs.pwntools.com/en/stable/install/binutils.html#mac-os-x

[2017-09-14 02:30] #1027 closed, assigned to nobody

[2017-09-14 02:32] zachriggle commented on #1025
You've got a file named `copy.py` in your working directory, which conflicts with the built-in module of the same name.

https://docs.python.org/2/library/copy.html

[2017-09-14 02:32] #1025 closed, assigned to nobody

[2017-09-14 02:34] zachriggle commented on #1016
Sounds like you need to set `context.terminal = ['urxvtc', '-e', 'sh', '-c']`.

[2017-09-14 02:34] #1016 closed, assigned to nobody

[2017-09-14 02:35] zachriggle commented on #1010
See the docs for `context.terminal` and `run_in_new_terminal`.

http://docs.pwntools.com/en/stable/context.html#pwnlib.context.ContextType.terminal

http://docs.pwntools.com/en/stable/util/misc.html#pwnlib.util.misc.run_in_new_terminal

[2017-09-14 02:35] #1010 closed, assigned to nobody

[2017-09-14 02:37] zachriggle commented on #1011
We do not stop you from catching `KeyboardInterrupt` except when in `tube.interactive()`, in which case execution just resumes on the next line.

[2017-09-14 02:37] #1011 closed, assigned to nobody

[2017-09-14 02:38] zachriggle commented on #1004
Yup.  Welcome to Python2!  If you are sending `unicode` you need to perform the appropriate `encode` / `decode` magic to turn it into a `bytes` object.

Alternately, I recommend setting a default encoding for your system, and setting an appropriate header.

https://stackoverflow.com/questions/2276200/changing-default-encoding-of-python
https://stackoverflow.com/questions/3170211/why-declare-unicod

[2017-09-14 04:26] zachriggle commented on #889
This is implemented.  We set the context for the shellcode, so everything is "magic"

[2017-09-14 04:26] #889 closed, assigned to nobody

[2017-09-14 05:07] zachriggle opened #1028 "Cyclic generator checkpoints"
It would be nice if we could toggle `cyclic` to never reset, and to be able to checkpoint the pattern with named labels (optional; default to a saved copy of the call stack).

This way, all substrings of the De Bruijn generator would be unique *within an entire Pwntools session*.  This avoids lots of the "gotchas" when using `cyclic()` multiple times -- because it will start over with e.g. `aaaaba

[2017-09-14 09:13] dummys commented on #1016
Hi again,
@zachriggle
Now urxvtc popup but i get this error:

[code]
Then in the new window:
[code]
It looks like that pwntools should use `/usr/bin/gdb -q  -p 18654` instead of `/usr/bin/gdb -q  18654`

When using -p now I get these error:
[code]

With a while(1) in the test binary, I can attach.

[code]

Without it, pwntools seems to fail to stop at the beginning of the binary.

[2017-09-14 14:57] rofl0r commented on #1004
so you don't think that pwntools should catch this error ?

[2017-09-14 17:17] zachriggle commented on #1004
After some sleep, I see that the issue you're reporting is different than I was expecting.

[2017-09-15 15:26] dummys commented on #1016
@zachriggle there ?

[2017-09-17 01:11] #1004 closed, assigned to nobody

[2017-09-17 16:34] 4hiziri commented on #1016
Hi @dummys .
I think `process('./test')` executes ./test, so ./test is finished before gdb attaches.
But missing -p option should be bug.

[2017-09-17 16:39] dummys commented on #1016
ok, was wondering if pwntools stop the execution at beginning of the
binary...

On 17 Sep 2017 18:34, "4hiziri" <notifications@github.com> wrote:

[2017-09-17 18:02] zachriggle commented on #1016
If that’s what you want, use gdb.debug()

Check out the docs, they are helpful:
http://docs.pwntools.com/en/stable/gdb.html
On Sun, Sep 17, 2017 at 9:39 AM dummys <notifications@github.com> wrote:

[2017-09-17 18:36] dummys commented on #1016
ok, and did you think than -p missing is a bug ?

On 17 Sep 2017 20:02, "Zach Riggle" <notifications@github.com> wrote:

[2017-09-17 19:43] zachriggle commented on #1016
There is no need to specify -p
On Sun, Sep 17, 2017 at 11:36 AM dummys <notifications@github.com> wrote:

[2017-09-17 20:30] rofl0r commented on #1004
great, ty !

[2017-09-18 01:23] 4hiziri commented on #1016
Hi, @zachriggle
I have same trouble.
I think gdb needed -p option when gdb was given pid.
When gdb.attach(some-process), pwntools gives pid to gdb without -p.
So gdb tried open pid as file name and failed.
Why is there no need to specify -p?

[2017-09-21 22:02] zachriggle opened #1033 "pwn.conf skips validation checks"
This blows up when the target architecture is 32-bit (e.g. `i386`) since we assemble a 64-bit object file and attempt to link it to a 32-bit ELF.

This is a somewhat expected result, since i386-64 doesn't exist.

[code]

While this is a user error, we should probably warn about this scenario.  It likely applies in lots of situations -- I think the best place to handle this is in the `LocalContext`

[2017-09-21 22:09] zachriggle commented on #1033
Apparently this is a result of `.pwn.conf` not triggering all of the validation routines, since we just replace the defaults.

[2017-09-22 23:23] zachriggle opened #1037 "Heap exploitation assistance"
I don't want to tread on the toes of Pwndbg too much, but some basic things would be nice to have.  For example, a basic "constant lookup" for dlmalloc for the current architecture.  How big is a header?  What's the offset of field X?  What's the smallest allocation that will go into the unsorted bins? Things like that.

Essentially, it should look something like `pwnlib.abi`.

[2017-09-24 15:12] sroettger opened #1038 "Processes with stdout=PTY hang on select() because of glibc buffering"
When calling readline or readuntil on a process tube, the tube sometimes gets blocked on select if more than 4096 bytes were received.
It's easier to explain with an example:

[code]

where `./test` is just a small binary that prints 4096 A's and 1 B

[code]

The expected outcome is that the script finishes, though it blocks on the second `r.readuntil('B')`.
When stracing the script, you can see t

[2017-09-26 04:48] jerry73204 opened #1039 "Look for package maintainer on AUR"
I'm currently the maintainer of `python2-pwntools` and `python2-pwntools-git` on AUR. I cannot always keep them up-to-date for reasons. I'd like to ask if the pwntools community has interests in package maintenance. Thanks.
Here are the AUR links:
https://aur.archlinux.org/packages/python2-pwntools/
https://aur.archlinux.org/packages/python2-pwntools-git/

[2017-09-26 05:25] zachriggle commented on #1039
What does the AUR package modify, versus the vanilla distribution?

[2017-09-26 05:56] jerry73204 commented on #1039
They're almost the same except minor changes.
The setup is done by:
`python2 setup.py install --root=${pkgdir}/ --optimize=1 --only-use-pwn-command`
and remove files potentially conflicting with other packages.
`rm ${pkgdir}/usr/lib/python*/site-packages/*.{txt,md}`

You can checkout the PKGBUILD (go to aur link, click "View PKGBUILD" on the right) to find out the detailed installation steps. They

[2017-09-26 07:26] zachriggle commented on #1038
I can confirm this reproduces, but I have no idea why.  It looks like some of the data is getting eaten when it should not be, **and** the hang is on `self.proc.stdout.closed`

[code]

[2017-09-26 07:37] zachriggle commented on #1038
I can confirm I can repro this.

The issue is Python not doing what it's supposed to (a single `read` call shouldn't equal two syscalls) and then we block* on `select` to poll for more data -- but there is none, because Python already received it.

(*"block" until the default timeout expires)

[2017-09-26 07:39] zachriggle commented on #1038
[code]

[2017-09-26 07:48] zachriggle commented on #1038
It looks like Python internally does `file_read` -> `Py_UniversalNewlineFread` -> `fread` which does some internal buffering even though it shouldn't.

[code]

[2017-09-26 08:12] zachriggle commented on #1038
This works around the issue, but I don't like it.  I'm still not sure why `fread` is calling `read` twice.

[code]

[2017-09-26 08:23] zachriggle commented on #1038
This can be reproduced with minimal pwntools involvement.  The second call to `select` should succeed, but hangs.  Interestingly, it doesn't always hang under strace.

[code]

[2017-09-26 08:31] zachriggle commented on #1038
Switching between `PIPE` and `PTY` yields some interesting results.  These are in line with the purpose of the report.

[code]

[code]

[2017-09-26 09:02] zachriggle commented on #1038
So apparently what's happening is:

* The first call to `read(2)` inside of `fread` returns 0xfff
* `fread` still wants one more byte, and calls `__underflow`
* `__underflow` jumps into `_IO_file_underflow`
* `_IO_file_underflow`  ends up calling `_IO_OVERFLOW` which is `_IO_file_overflow`

Aaaaand I'm too tired to continue troubleshooting.

[2017-09-26 09:04] zachriggle commented on #1038
First read:

[code]

Second `read`

[code]

[2017-09-26 09:08] zachriggle commented on #1038
This patch also resolves the issue sufficiently, by avoiding `fread` via `file_read`.

[code]

@Idolf what do you think?

[2017-09-26 09:12] zachriggle commented on #1038
After a bit more digging, this is *entirely* the fault of Python's file implementation and our use of `os.fdopen()` in the case of using PTYs.

[code]

Unrelated, the `r+` is a bit misleading, we should probably document why somebody might want to **read from** STDIN (tl;dr is `fd` on `pwnable.kr`).

[2017-09-26 09:18] zachriggle commented on #1038
Real fix is here, PR coming soon:

[code]

[2017-09-26 17:17] zachriggle commented on #1038
@Idolf Need to cut a `3.9.1` release for this.  I've already updated the changelog and handled all of the merging (stable -> beta-staging -> dev).  Just need to wait for CI checks to pass.

[2017-10-04 06:18] jerry73204 commented on #1039
The maintainer is now Firmy. The issue could be closed. Thanks.

[2017-10-05 08:43] TethysSvensson commented on #1038
This was fixed in #1040 and the fix was released in 3.9.1.

[2017-10-05 08:43] #1038 closed, assigned to TethysSvensson

[2017-10-05 08:56] TethysSvensson commented on #1004
I haven't tried replicating this, but from the commit log, it seems to have only been fixed for dev?

[2017-10-05 08:57] TethysSvensson commented on #1004
Hmm, nope. It just didn't go through a PR when pushed into stable.

[2017-10-08 13:43] firmianay commented on #1039
I'm now the current maintainer, welcome to use Arch Linux and install pwntools from AUR : )

[2017-10-08 15:05] cpupower opened #1045 "_libs_remote returns addresses not valid for the target environment"
When retrieving library addresses from a process over SSH using
[code]
The addresses can be different from the actual addresses, when the target is not run with `ulimit -s unlimited`.

This happened in the following setup:

- SSH connection to a remote server
- remote has ASLR disabled:
[code]
- In the shell environment, `ulimit -s` returns `8192`
- The target binary has the setuid-bit set
- Acces

[2017-10-08 15:24] david942j opened #1046 "shellcraft.mov does not support AH, BH, etc. registers"
[code]
Expected:
`movzx eax, ah`

Result:
[code]

The error is raised when trying to eval `ah` as a system-constant value

But the real reason is `ah` is not defined in `shellcraft/registers.py` as a register in `i386`.

Issue occurs in `amd64` as well.

[2017-10-08 15:33] cpupower opened #1047 "ssh_process.elf can return incorrect ELF, when ssh_process.executable is included in the ssh cache path"
When getting the target process' ELF using the `ssh_process.elf` property, a wrong ELF is returned, when the path of the target binary on the remote system is included in the path of the local cache:

Example:
`target.libs()` returns:

[code]

while `target.executable` is `/target/target1`.
So `/target/target1` is included in the cache path.

Therefore the condition evaluates to true (just checks

[2017-10-08 21:57] zachriggle commented on #1047
Good catch!

I'm not sure how to resolve this perfectly, since it's also possible for a binary to rely on another ELF with the same `basename`.  In the meantime, using `basename` is probably as good as we can do -- would you mind submitting a pull request? ❤️

Thanks!

[2017-10-08 22:03] zachriggle commented on #1046
I don't think we support the `xh` registers since they complicate some of the logic.  If you can submit a pull request that adds the functionality, and some doctests for various permutations (e.g. `mov("ah", "al")`) we can get this included.

[2017-10-08 22:07] zachriggle commented on #1045
`libs` is not intended to provide perfect addresses, it's a guideline.  It's from a simpler time 😉

With `setuid` and ASLR there is literally no way to get the correct addresses (short of some other `setuid` binary).

Re: #185 Not sure how you want me to handle this.

Re: #190 you are correct, though this was fixed sometime last year.  (RIP `RLIMIT_STACK` `-1`)

Re: #195, this is an issue that nee

[2017-10-08 22:11] zachriggle commented on #1045
About as close as you can get is if you crash the process (intentionally or otherwise) and use a `Corefile`.

You'll need to make a copy of the binary (to it loses its setuid bit), or set `setuid=False` to your `ssh.process(...)` call, otherwise the kernel won't generate a corefile.

We don't support manually generating remote corefiles via `gcore` (Yet? A pull request would be cool!), but you cou

[2017-10-08 22:11] #1045 closed, assigned to nobody

[2017-10-08 22:12] zachriggle commented on #1045
Corefile docs are here: http://docs.pwntools.com/en/stable/elf/corefile.html

The interface for `process` and `ssh.process` are identical -- just use `<instance>.corefile`.

[2017-10-08 22:13] zachriggle commented on #1039
Yay! Can this issue be closed?

[2017-10-09 01:39] jerry73204 commented on #1039
That's fine.

[2017-10-09 02:10] #1039 closed, assigned to nobody

[2017-10-11 08:43] ghost opened #1048 "asm(shellcraft.amd64.sh()) is wrong??"
hi

i use pwntools to practice some ctf problems

i use asm(shellcraft.amd64.sh()) and it crash

error message:

[ERROR] There was an error running ['/usr/bin/x86_64-linux-gnu-as', '-32', '-o', '/tmp/pwn-asm-IILvp7/step2', '/tmp/pwn-asm-IILvp7/step1']:
    It had the exitcode 1.
    It had this on stdout:
    /tmp/pwn-asm-IILvp7/step1: Assembler messages:
    /tmp/pwn-asm-IILvp7/step1:10: Error: o

[2017-10-11 19:08] zachriggle commented on #1048
You're attempting to assemble 64-bit instructions as 32-bit assembly.

You need to set `context.arch = amd64`, or explicitly set the architecture.

# Wrong

[code]

# Correct

[code]

# Correct

[code]

[2017-10-11 19:08] #1048 closed, assigned to nobody

[2017-10-11 21:57] #1019 closed, assigned to zachriggle

[2017-10-12 16:28] zachriggle commented on #987
Pretty sure this was resolved with #1036

[2017-10-12 16:28] #987 closed, assigned to zachriggle

[2017-10-12 16:54] zachriggle commented on #1018
Fixed in #1031

[2017-10-12 16:54] #1018 closed, assigned to zachriggle

[2017-10-12 17:01] zachriggle commented on #937
This should be fixed since #1019.

[code]

[2017-10-12 17:04] zachriggle commented on #927
This isn't quite true.  It was able to do very, very basic `amd64` ROP, as long as you had perfect `pop rdi; ret`-style gadgets for every register that was required.

Since #1019 landed, things are a bit better and we can also do some slightly more complex things.

[code]

[2017-10-12 17:06] zachriggle commented on #922
There is a docker image that you can use pretty easily.  Just `docker pull pwntools/pwntools:stable` (or `:dev` if you prefer).

[2017-10-12 17:53] zachriggle commented on #925
Spent some time on this today.  Notably #1043 touched this same code and had a bug.

I think the most appropriate thing for us to do is really just to patch the entry point of the ELF with `cat("/proc/self/maps") + exit()` shellcode, and invoke it.

This gives us several benefits:

- It works for statically linked libraries
- It works for shared libraries which don't specify a linker
- It works fo

[2017-10-14 18:20] wangray opened #1054 "debug_shellcode closes process immediately"
When I use `debug_shellcode`, pwntools opens a new terminal and makes the connection to the gdbserver, but then returns immediately and closes the process before I get a chance to interact with gdb. I need to add a `time.sleep()` after `debug_shellcode` to be able to use it.

Here's an example to try (reading flag.txt) :

[code]

[2017-10-14 20:05] zachriggle commented on #1054
Yes, as one would expect it to do.  It created the `process`, and attached the debugger -- then your Python script exited, and all of the processes created are cleaned up.

I expect you want to do something like:

[code]

For what it's worth, you can also probably save some time by just doing:

[code]

Instead of hand-rolling your own shellcode.

Finally, you're using `debug_shellcode` wrong.  `de

[2017-10-14 20:05] #1054 closed, assigned to nobody

[2017-10-17 13:27] firmianay commented on #683
I would like to ask if there is a plan to use Capstone/Keystone to replace Binutils? It can be more convenient when using a Linux which can't install cross-binutils with apt, such as Archlinux. If so, I can try to contribute some code.

[2017-10-17 16:43] zachriggle commented on #683
No, because we still need binutils to actually build / link ELF files
On Tue, Oct 17, 2017 at 8:27 AM Firmy Yang <notifications@github.com> wrote:

[2017-10-23 11:05] a1exdandy opened #1056 "DynELF._find_linkmap bug"
https://github.com/Gallopsled/pwntools/blob/b53e58a840c890340fa755a2229c3ff774c5f81e/pwnlib/dynelf.py#L450

Bug after commit bb25140807a4d
Must be:

[code]

[2017-10-24 04:49] zachriggle opened #1059 "Release 3.10"
Release was intended to happen a few days ago.  We went over, which ended up being good since I could land some bugfixes to `stable` in the meantime.

`CHANGELOG`  is updated accordingly.  Please cut 3.10 / 3.11 beta / 3.12 dev <3

[2017-10-24 04:50] #1056 closed, assigned to nobody

[2017-10-24 04:50] zachriggle commented on #1056
Merged to `stable`, this should be in the `3.10` release

[2017-10-25 10:33] #1047 closed, assigned to nobody

[2017-10-25 10:39] TethysSvensson commented on #1059
Done.

[2017-10-25 10:39] #1059 closed, assigned to TethysSvensson

[2017-10-27 19:12] cpupower opened #1060 "Order of env is not kept, when passing OrderedDict to process constructor"
When passing an environment dict-like object to the process constructor, the order is not preserved, due to a copy into a normal dict object:

https://github.com/Gallopsled/pwntools/blob/bb9004c2989bda4612edacd34e09d8a0fea5d4c3/pwnlib/tubes/process.py#L567-L568

This is relevant when passing an OrderedDict object as env parameter and the order of environment variables is important.

Instead using

[2017-10-27 20:17] cpupower commented on #1060
SSH tube is also affected (in remote script):
https://github.com/Gallopsled/pwntools/blob/bb9004c2989bda4612edacd34e09d8a0fea5d4c3/pwnlib/tubes/ssh.py#L874-L876
The .update method is not preserving the order in case of OrderedDict.
My suggestion is to pass env to execve, when it is not None (see pull request #1061).

[2017-10-28 13:48] devneal commented on #1016
It seems to work if you use `urxvt` as the terminal rather than `urxvtc`. I got it to work by setting `context.terminal = ['urxvt', '-e', 'sh', '-c']`.

[2017-10-29 09:25] cgsecurity opened #1062 "Feature request for pwnlib.rop.rop.ROP.search(): badbytes parameter"
Some gadget addresses may contains bad chars, ie 0x0a for a ROP used in fgets().
Please consider adding a badbytes parameter to pwnlib.rop.rop.ROP.search().

[2017-10-29 19:56] zachriggle commented on #1062
You should use `search_iter` for this so that you can do any filtering you'd like.

I added code to `search_iter` to [respect the `badchars` setting of ROP](http://docs.pwntools.com/en/dev/rop/rop.html#pwnlib.rop.rop.ROP) in 76aa34f43d7376eb991398ec7f4b00d39f884496

[2017-10-29 19:57] #1062 closed, assigned to nobody

[2017-10-30 19:59] #1060 closed, assigned to nobody

[2017-10-31 09:56] xinali commented on #1027
not work for me

[code]

[2017-10-31 23:18] zachriggle commented on #1027
You didn't specify an architecture.  The URL in your post is:

[code]

[2017-11-01 02:08] xinali commented on #1027
I solved, `$ARCH` does not echo.I use this
[code]
thanks!

[2017-11-04 06:38] bannsec opened #1064 "ImportError: ERROR: fail to load the dynamic library (ROP)"
Getting the following error when trying to instantiate a `ROP` object on a base `ELF` class with the latest pwntools (3.10.0)

[code]

Looking into the file, it appears that capstone is unable to find it's .so file. Having run into this before, I checked and found that pwntools is using `capstone==3.0.4` on my install.

I resolved the issue manually on my install by doing `pip install capstone==3.

[2017-11-04 07:29] firmianay commented on #1064
It seems that setup.py didn't specify capstone's version at installation time

[2017-11-05 22:49] yoava333 opened #1065 "mixing 32bit and 64bit shellcodes"
I'm running Ubuntu 16.04, the issue reproduces in Ubuntu 14.04
I was working on a mixed shellcode 32 & 64 bit. the target process is 64 bit but I needed to switch to 32bit and I kept crashing on open with pwntools.
Maybe I'm not using the library correctly, how do you suggest working on mixed bitness shellcode?

[code]

[2017-11-13 21:12] devneal commented on #742
I submitted a pull request at #1067 that works for my purposes, but any comments on robustness for the main branch would be appreciated.

[2017-11-25 17:36] disconnect3d opened #1069 "`gdb.debug` not so obvious error msg"
When the `gdb.debug` fails to launch binary under gdbserver it shows a not-super-obvious error. This might happen for example when one sets `LD_PRELOAD` to load different libc library.

### Example
NOTE: I had to run `sudo apt-get update && sudo apt-get install gdbserver` first.
NOTE2: I have used `/bin/bash` as `LD_PRELOAD` but that could be a .so library not compatible with the binary (e.g. wron

[2017-11-27 05:24] bannsec commented on #1064
Appears to be related to #971

[2017-11-27 05:59] bannsec opened #1071 "non-gdb frontend"
Is there any support for non-``gdb`` front-ends for ``gdb`` debugging module? If not, how would you see it working/where would code mods go in for it?

The ``gdbserver`` backend is almost universally used, however you don't need to have the ``gdb`` front-end to connect to it. I was able to manually connect up to the gdb server using ``radare2``, and I know you can also use it for ``IDA`` and likel

[2017-11-28 21:49] zachriggle commented on #1071
Sure, go nuts.  Create a pull request that modifies [`pwnlib.gdb.binary()`](https://github.com/Gallopsled/pwntools/blob/3.10.0/pwnlib/gdb.py#L423) to check for a `pwntools-gdb` binary first.

You can then define `pwntools-binary` as a shell script in `$PATH` that does anything you want.

[2017-11-29 10:00] ishitatsuyuki opened #1073 "fmtstr: raise error when the resulting string contains '\n'"
Apart from `\0` which is an issue of the current implementation, `\n` is often a special delimiter that result in a faulty payload if the target is using `fgets()` and the address contains `0a`.

We should raise an exception for manual hack in such case, and also provide an opt-out option for using with non-line based cases. The parameter suggestion would be `bad_chars=['\n']`.

[2017-12-04 19:39] zachriggle opened #1077 "dev is broken on Travis"
It looks like there are a few things that are busted and it's not apparent why.  Some of them may be temporal or dependencies that are busted.

[2017-12-04 19:45] zachriggle commented on #1077
`ftp.debian.org` is not available over FTP / port 21 right now.  Switching to `ftp.ubuntu.org`.

[2017-12-04 19:55] zachriggle commented on #1077
Also #1075 identifies the other issue.

[2017-12-06 16:16] naweiss opened #1079 "OSError"
Trying to run 32bit ELF on 64-bit Ubuntu 14.04 gives the following error:
[code]
_**Note:**_ I suspect the ELF is missing some library but the `OSError `doesn't specify which.

[2017-12-06 16:17] zachriggle commented on #1079
Can you run “prog” outside of pwntools? I expect you’re missing libraries
for it.
On Wed, Dec 6, 2017 at 10:16 AM naweiss <notifications@github.com> wrote:

[2017-12-06 16:38] naweiss commented on #1079
I can't, because it's 32bit.
As I said, I believe it missing libraries, but why the `OSError` doesn't specify their names?

[2017-12-07 20:27] #1079 closed, assigned to nobody

[2017-12-07 20:27] zachriggle commented on #1077
Fixed in #1078

[2017-12-07 20:27] #1077 closed, assigned to zachriggle

[2017-12-07 20:32] zachriggle commented on #997
Feel free to fork `pwntools` and work on my branch.  Hopefully we can get things working.

I don't have any cycles to dedicate to this currently.

Closing as a duplicate of #827.

The most recent status is in my comment here: https://github.com/Gallopsled/pwntools/pull/827#issuecomment-350085470

[2017-12-07 20:32] #997 closed, assigned to Kyle-Kyle

[2017-12-07 20:33] zachriggle commented on #1073
This is work that would belong in #827.  I don't intend to make any changes to the current `fmtstr` module, since it has a great many limitations and design issues.

The most recent status is in my comment here: https://github.com/Gallopsled/pwntools/pull/827#issuecomment-350085470

tl;dr I don't have any time to dedicate to this currently, but I've put a lot of work into making a fully-automated

[2017-12-07 20:33] #1073 closed, assigned to nobody

[2017-12-07 20:35] zachriggle commented on #1069
I'm not sure of any way we can really detect this in the generic case.

I'd be interested in a pull request if you have time <3

[2017-12-07 21:25] #1071 closed, assigned to nobody

[2017-12-13 22:15] zachriggle commented on #1069
Closed with #1083

[2017-12-13 22:15] #1069 closed, assigned to nobody

[2017-12-13 22:16] zachriggle commented on #1065
You're trying to generate assembly for a 32-bit syscall while in 64-bit mode.

You need to set the architecture to 32-bit.

[2017-12-13 22:16] #1065 closed, assigned to nobody

[2017-12-28 17:10] tandriamil opened #1087 "User agents sources at useragentstring.com not available anymore"
Hi,

The script located in `pwntools/pwnlib/data/useragents/download-useragents.py` fetches the different sources of user agents from various websites.

One of them is useragentstring.com, more precisely `http://www.useragentstring.com/pages/All/` but this link is not anymore available (404 not found).

Thanks

[2017-12-29 00:48] cpupower opened #1088 "Support/Workaround for sudosh (and possibly other custom shells)"
When a remote system uses sudosh (probably https://github.com/squash/sudosh2) as the user login shell (i.e. specified in /etc/passwd), depending on the configuration of sudosh, certain commands by pwntools via ssh may fail, as sudosh filters out certain characters.

### Example

For example:
[code]

will not print the directory contents as expected, but will fail due to characters not accepted by

[2017-12-31 00:12] naweiss opened #1089 "Force qemu"
Is there a way to force `pwntools `to run a process using `qemu `even though I could run on my system?
In spesific, I try to run i386 on x86_64 system, and instead of launching `qemu`, `pwntools` jsut tries to run on my system and fails (I can't install i386 support because I'm not root).

[2017-12-31 00:47] zachriggle commented on #1089
Yes, the same way you launch any program with command line arguments.

[code]

Separately, i386 Linux is **entirely unsupported** by Pwntools.  If anything works, it is a happy accident.

[2017-12-31 00:47] #1089 closed, assigned to nobody

[2017-12-31 00:48] zachriggle commented on #1088
There's not a generic solution to this.  I'd recommend replacing `pwnlib.util.sh_string.sh_string` with your own implementation.

[code]

[2017-12-31 00:48] #1088 closed, assigned to nobody

[2017-12-31 00:49] zachriggle commented on #1087
Thanks for pointing this out!

We only regenerate the user-agents once every 100 years or so, but this is good to know!

If you'd like to submit a Pull Request to fix the script, it'd be greatly appreciated!

[2017-12-31 00:50] zachriggle commented on #1064
Yes, per #971, Capstone's default installation mechanism is broken.

I'd recommend installing Capstone manually.  @bannsec said (on https://github.com/aquynh/capstone/issues/916) that installing 3.0.5rc2 explicitly should fix the installation issue.

We do not require any specific version as we don't actually rely on any version's features.

[2017-12-31 00:50] #1064 closed, assigned to nobody

[2017-12-31 01:28] cpupower commented on #1088
Thank you for your response.

I might be missing something, but as far as I understand, for example in the ssh_channel constructor, the process command line may still contain unwanted characters, as sh_string is not applied on the whole command, but rather only on 'variable' data (e.g. environment variables, arguments etc.).
So for example
https://github.com/Gallopsled/pwntools/blob/899baec7048559

[2017-12-31 01:35] naweiss commented on #1089
* Unsupported?
But isn't 32bit i386 linux is the default context?!

* I ment without explistly writentg the `qemu `command, the same way you can run:
`p = process('./some-arm-exc')
`And `pwntools `automaticly detects that it should run `qemu-arm`
(Why i386 ELF is detected on 64 machine by **default** as **non requiring qemu**?)

[2017-12-31 09:16] zachriggle commented on #1089
As a target; yes.

As a host OS; no.

32-bit Python is unsupported.
On Sat, Dec 30, 2017 at 7:35 PM naweiss <notifications@github.com> wrote:

[2017-12-31 10:03] naweiss commented on #1089
No, the host OS is 64-bit ubuntu.
But `Pwntools` runs 32-bit ELFs on the host, and not using `qemu` for some reason.

[2018-01-01 12:46] matrix1001 opened #1090 "checksec script bug found (fix provided) [NameError: global name 'dt_rpath' is not defined]"
# checksec script bug
bug script
`pwnlib/elf/elf.py`
bug function
[code]
problem: on some occasion, cause this problem. and checksec failed
[code]
influence: all modules that use checksec
# fix advice
[code]
apparently it is due to some carelessness.

[2018-01-01 14:49] WangYihang opened #1091 "Got some trouble while translating document for pwntools using readthedocs"
Hi, bro
I want to translate the document for pwntools from English to chinses
but I wonder how can I make it more comply with your standard

I just try to use `readthedocs`.
First step, I fork this repo
Second, import a repo on `readthedocs`
Then the website will auto-compile the docs from rst file to HTML file
but failed, the error report is:
![fireshot capture 9 - pwntools-docs-zh i read the doc

[2018-01-02 17:22] zachriggle commented on #1091
You need to change some settings on ReadTheDocs.

When you have your translations up, let me know and I can link to it.

Since there's not a good way to "export" the settings that you can re-import them, I took some screenshots.

<img width="898" alt="screen shot 2018-01-02 at 11 21 25 am" src="https://user-images.githubusercontent.com/111640/34492923-2933373e-efaf-11e7-8fe0-fa489ee28fe0.png">

<i

[2018-01-02 17:25] zachriggle commented on #1091
Separately, it might be worth using the internationalization (i18n) tools built into Sphinx, which we use for documentation.

http://www.sphinx-doc.org/en/stable/intl.html

This will also make it easier for future translations.

[2018-01-02 17:28] zachriggle commented on #1090
This is a duplicate of #1008 which has, admittedly, been sitting stagnant for too long.

It looks like it wasn't merged yet because of CI checks required to merge to `stable`.

[2018-01-02 18:18] WangYihang commented on #1091
@zachriggle Cool, bro
thank you for general help, I'll let you know about my progress
thank you so much again

[2018-01-02 18:41] WangYihang commented on #1091
Thank god, according to your configuration, succeed this time. thank you, this issue can be closed, thank you

[2018-01-02 18:54] zachriggle commented on #1091
Can you link to your translation?

[2018-01-02 18:55] #1091 closed, assigned to nobody

[2018-01-03 02:45] WangYihang commented on #1091
@zachriggle

[2018-01-03 23:40] CHYbeta commented on #1091
https://github.com/Magic-Translater/Pwntools.Doc.In.Zh-cn

[2018-01-04 03:56] WangYihang commented on #1091
Cool, thank you for suggestion, I checked the translation which you
commented just now
Maybe we are doing the same thing cus that project is not finished yet,
but we can learn lot while translating this doc
We can communicate with each other, so we can make it better ,right?
Thank you again.
chybeta <notifications@github.com>于2018年1月4日 周四上午7:40写道：

[2018-01-04 19:39] zachriggle opened #1092 "Throw Error on Python3 Installation"
Apparently Pwntools' `setup.py` script is well-formed Python3, to the point that you can actually install it.

We should prevent this, since the successfully-installed-Pwntools-on-Python3 doesn't actually work.

[code]

See https://github.com/bkerler/exploit_me/issues/1 for more information

[2018-01-04 21:23] zachriggle commented on #1091
You need to set the language of your project, it's still marked as `en`.

<img width="603" alt="screen shot 2018-01-04 at 3 23 16 pm" src="https://user-images.githubusercontent.com/111640/34584918-3db8b5b6-f163-11e7-970b-2f114cf89436.png">

[2018-01-04 22:42] #1092 closed, assigned to nobody

[2018-01-05 05:52] WangYihang commented on #1091
got it, the language of this project is set to Simplified Chinese
Sorry to trouble you, thank you
@zachriggle

[2018-01-15 20:36] janoskk opened #1097 "demo.pwntools.com has error 502 (bad gateway)"

[2018-01-29 09:43] david942j opened #1102 "Wrong usage of syscall open in some shellcraft templates"
Some templates invoke `SYS_open` in a wrong way,
such as:
https://github.com/Gallopsled/pwntools/blob/a208251d5f70202aae4d884aa955f0972b3c2621/pwnlib/shellcraft/templates/amd64/linux/cat.asm#L11
The position of `oflag` and `mode` are reversed.
It should be `${syscall('SYS_open', 'rsp', 'O_RDONLY', 0)}`

Other wrong usages can be found in i386 and aarch64 (not familiar with aarch64, but it seems wr

[2018-02-06 20:48] zachriggle commented on #1102
Thanks for pointing this out! Would you mind submitting a Pull Request that fixes this?

[2018-02-07 09:37] david942j commented on #1102
OK, I'll do it

[2018-02-09 11:38] bjchan9an commented on #245
DynELF() 's first param is a function which can leak anywhere 's 4 bytes,for example:
DynELF(leak,elf='./')

[2018-02-10 03:34] david942j commented on #1102
closed by #1106

[2018-02-10 03:34] #1102 closed, assigned to zachriggle

[2018-02-11 08:00] Arusekk opened #1108 "Typo in pwnlib/asm.py"
The typo is in the docstring of disasm function. It should be:
[code]
but it currently is:
[code]
(missing `t`)

[2018-02-13 00:15] zachriggle commented on #1108
Thanks! Mind submitting a Pull Request? :heart:

[2018-02-18 19:27] ghost opened #1109 "'pwn asm' string format - not C style char array compatible & not matching output of hex format?"
I'm new to pwntools, playing around with 'pwn asm' from the commandline and I'm not understanding the string format output when using '-f string'.

Here's the example I'm working with:

[code]

And a couple of runs of 'pwn asm' using this file:

[code]

My questions:

The string format output has hex encoded values larger than 2 hex digits is that intentional / normal? This output can't be used in

[2018-02-18 19:47] ghost commented on #1109
Catching on now.

The string format contains \x escaped bytes alongside ASCII characters that aren't escaped as bytes.  So
\xeb\x191,  is actually \xeb\x19\x31 which does match the hex format output.

Still an unusual representation IMO rather than a format where everything is printed as \x escaped bytes.

[2018-02-19 18:06] zachriggle commented on #1109
Sounds like you got it sorted.

You can definitely argue either way for uniformity (all characters escaped) or only escaping characters that aren't printable -- either way, the effect is the same.

Thanks for the question!

[2018-02-19 18:06] #1109 closed, assigned to nobody

[2018-02-19 18:08] #1108 closed, assigned to nobody

[2018-02-20 10:02] najeex opened #1110 "pwntools import error in wing ide"
I am first-time use pwntools. i used wing ide (but out of wing ide all is fine ). and facing import error in the python shell.
this is how I import in wing ide
[code]
error in python shell in wing ide

[code]
how to fix this. one more think for installing python packages i use **conda**. except for pwntools

[2018-02-20 18:14] zachriggle commented on #1110
This is an issue with your IDE, no idea dude.  I expect your installation is b0rked or your IDE does something weird.

Double-check that `pwnlib/term/keyconsts.py` actually exists.

[2018-02-20 18:21] zachriggle opened #1112 "Travis tests are broken"
Looks like tests broke somehow.

We didn't change anything that would cause this, something in the dependency / testing stack changed.

Good: https://travis-ci.org/Gallopsled/pwntools/builds/338641937
Bad: https://travis-ci.org/Gallopsled/pwntools/builds/341197032

Error message:
[code]

Separately, we should probably have something that auto-files a bug when tests break.

[2018-02-20 18:22] zachriggle commented on #1112
@Idolf this will likely block the next release

[2018-02-20 20:50] #1112 closed, assigned to zachriggle

[2018-02-21 20:11] integeruser opened #1114 "ROP class searches for gadgets only for the first ELF"
Hello,

in the latest version of `pwntools` (`3.11.0`), it seems that the [`ROP` class](http://docs.pwntools.com/en/stable/rop/rop.html#pwnlib.rop.rop.ROP) searches for gadgets only for the first ELF of the list of ELFs passed as argument:
[code]
(tested using the Dockerfile `pwntools/pwntools:stable`)

[2018-02-21 22:09] zachriggle commented on #1114
This was a fun one to troubleshoot!

The issue is that when you're making these two ELF objects, they have the exact same address.

Note that both "pop eax" and "pop ebx" gadgets are at 0x10000000.

`ROP.gadgets` is a `dict` which uses the address as the key, so a `ROP` object can only have one gadget per address.

I'm not sure how we could make this example work any other way -- it's a weird edge

[2018-02-22 10:31] integeruser commented on #1114
Thanks for the quick response. What about this?
[code]
[code]
[code]
[code]
Notice the difference in the number of gadgets found. ~(Also, 346 gadgets from the entire libc seems quite low but I could be mistaken and did not investigate further.)~ Do you think this is still related to your explanation above or is a different issue?

A warning would be much appreciated. 🙂

[2018-02-23 16:43] integeruser commented on #1114
Commenting out the use of the cache in [`pwnlib/rop/rop.py`](https://github.com/Gallopsled/pwntools/blob/dev/pwnlib/rop/rop.py#L1064) (lines 1066-1069)
[code]
fixes the difference in gadgets found when using `ROP([binary, libc])` vs `ROP([libc, binary])`:
[code]
[code]
[code]

[2018-02-24 18:28] integeruser opened #1116 "How to handle consecutive read()s when interacting with processes?"
Consider the following C program, containing two consecutive calls to `read()` (as in countless CTF challenges):
[code]
I want to interact with this program in such a way that it reads the string `AAAA` in the first call to `read()` and reads `BBBB` in the second call. With any terminal emulator, I can do this by pressing `Ctrl`+`D` (which should send an `EOF` signal) after typing each of the two

[2018-02-24 18:47] zachriggle commented on #1116
What’s going on is that the send()s both complete before the first read()
completes. You’re sending data too fast.

There is no way to guarantee buffer contents. That’s not how the read(2)
syscall works.

I would recommend inserting a call like io.recvuntil(“read: “) between the
sends, so that you know the target program has processed your data.
On Sat, Feb 24, 2018 at 12:28 PM Francesco Cagnin <n

[2018-02-24 18:52] #1116 closed, assigned to nobody

[2018-02-24 20:26] integeruser commented on #1116
Ah, now it's clear. Thanks!

[2018-02-27 04:37] ghost opened #1117 "gdb.debug() over ssh - gdb trying to use remote exe path on local host and not finding file?"
I'm trying to use gdb.debug() and ssh tubes to run an executable on a remote host and then debug it with gdb.  As shown in the ssh [gdb.debug()](http://docs.pwntools.com/en/stable/gdb.html#pwnlib.gdb.debug) example in the docs.

When I get a new terminal with the gdb session there is an error saying the file (as specified in the call to gdb.debug() ) is not found, and the error lists the path to t

[2018-02-27 04:53] ghost commented on #1117
With PWNLIB_DEBUG=1 the listed contents of the .gdb file to execute via '-x' is

[code]

Those GDB commands as shown depend on having the same directory hierarchy on both the local machine & the remote host where the executable is run no?

Wouldn't we need both:
- `set remote exec-file <path to executable on remote host>`
- `file <path to local copy of executable>`

[2018-02-27 08:20] bruce30262 opened #1118 "[Bug] pwntools select incorrect gadget while doing ROP in x64 binary"
#### Environment
* Ubuntu Linux 16.04 64 bit
* pwntools version: 3.12.0

#### Details
![default](https://user-images.githubusercontent.com/4478350/36717178-02ed9e20-1bd8-11e8-95af-5835d65db2db.PNG)

As we can see in the picture, pwntools failed to select the correct gadget address for setting the `rdx` and the `rsi` register. It should be `0x116d69` ( making the gadget become `pop rdx; pop rsi; re

[2018-02-27 18:33] zachriggle commented on #1118
Good catch! Can you upload that specific copy of libc? Just rename it to `.jpg` and Github will let you drag and drop it.

[2018-02-28 05:09] bruce30262 commented on #1118
@zachriggle here's the file. It's actually libc-2.24 from Ubuntu 17.04 64 bit .
![libc so 6](https://user-images.githubusercontent.com/4478350/36770939-4c28133a-1c88-11e8-85e3-c7d20fc9bdcc.jpg)

[2018-02-28 18:01] Arusekk commented on #1112
Actually, it is still failing. It turns out that the hotfix here does not do its job:
https://github.com/Gallopsled/pwntools/blob/d67cb152ed95f8694c262db028ec5f4183ca14fd/docs/source/conf.py#L43-L46
So the solution would be to find where else the problematic import resides.

One thing is that the `docs/requirements.txt` file is requiring an old version of `sphinxcontrib-autoprogram`, which still h

[2018-02-28 19:20] zachriggle commented on #1021
Note that 12.04 on Travis will *end support* on April 1, 2018

[2018-03-01 15:53] Arusekk opened #1122 "Unable to create a shell shellcraft for MIPS"
The problem is as follows:
[code]
But it can be fixed by making sure that `shellcraft.registers.current()` returns a list rather than a dict (mips is the only architecture that it happens for, since `type(shellcraft.registers.mips)==dict`). A pull request is on its way.

[2018-03-20 13:09] anthraxx commented on #529
This would be awesome, python2 is slowly facing itsdefinitive EOL :boom:

[2018-03-22 16:59] combab0 opened #1126 "gdb.debug error on 64bit when it handles 32bit elf."
gdb.debug handle 64bit properly but there is gdb error when it handles 32bit binary.

[code]
test server : Ubuntu 16.04.4 LTS 64bit
test code: http://pwnable.kr/bin/memcpy.c
gcc -o memcpy memcpy.c -m32 -lm : it works
gcc -o memcpy memcpy.c -lm : it doesn't work

gdb error
[code]

[2018-03-29 08:33] jsr03126 commented on #1092
thanks for your kind post.

[2018-03-31 02:19] j178 opened #1128 "in pwnlib.term.term, the definition of function `goto` causes SyntaxError"
https://github.com/Gallopsled/pwntools/blob/1cb05021574d17be33ec3738e4ed19b793199536/pwnlib/term/term.py#L167

[2018-03-31 04:26] zachriggle commented on #1128
You’re using Python3.

Pwntools does not support Python3
On Fri, Mar 30, 2018 at 9:19 PM John Jiang <notifications@github.com> wrote:

[2018-03-31 05:59] #1128 closed, assigned to nobody

[2018-04-02 16:25] bruce30262 opened #1132 "[Bug] TypeError in rop.dump() while using rop.call(integer_addr, [])"
**Environment**
* Ubuntu Linux 16.04 64 bit
* pwntools version: 3.12.0

**Details**
If we use `rop.call()` with an integer address as the first argument  ,  and call `rop.dump()`  ( or `str(rop)` )
It will throw the `TypeError` exception, with the following error message :

[code]
<img width="474" alt="123" src="https://user-images.githubusercontent.com/4478350/38203899-5c76a840-36d3-11e8-8f69-9b1

[2018-04-02 18:55] #1122 closed, assigned to nobody

[2018-04-02 19:38] zachriggle opened #1133 "Travis tests are broken"
Currently, the Travis CI tests for `dev` are erroring out.  I don't have any cycles to investigate this right now.

[2018-04-03 07:40] matrix1001 opened #1134 "Better ROP with dl_resolve and magic gadget"
Return to dl_resolve attack is some kind of easy and difficult, easy to exploit but difficult to calculate.
However, roputils has already solved the problem with a similar ROP class. Hope someone can migrate that from roputils.
Also, registers setting in x64 can be quite easier with MAGIC GADGET, which can be found in init function of almost all elf binary. Roputils also solve that.

[2018-04-09 08:33] Arusekk commented on #1128
Actually this was already solved in #1119

[2018-04-09 18:49] h0pes commented on #1132
I'm new to pwntools, so apologies if I'm reporting something which should not be.
It seems I have this same issue.
Working on write4 x86 binary from ROP Emporium [https://ropemporium.com/challenge/write4.html](url)
I have written a simple python script to exploit it:
[code]

But when executing it, I get this error:
[code]
I'm on exactly the same environment as the OP: Ubuntu 16.04 x64 and pwntools

[2018-04-09 19:32] zachriggle commented on #1133
@Idolf any chance you can take a look?

[2018-04-09 20:37] zachriggle commented on #1021
Back on trying this, one of the issues is that the we don't get our own network namespace.

This means that trying to SSH into localhost gives us the `sshd` which is running outside of our container -- which does not read "our" `authorized_hosts` file inside the container.

The solution to this will currently be to use `sudo: required`.

[2018-04-11 22:19] kupiakos commented on #529
I disagree that `tube.send` should work with a Python 3 `str`. If I'm writing bytes, I'll write bytes.

[2018-04-18 08:34] matrix1001 opened #1139 "FmtStr has some problems"
# numbwritten does not work
[code]
apparently the result should be different .
# bad char problem
[code]
some char like '\x00' will terminate the printf!!!
better solution is to put address in the tail of the payload!

[2018-04-18 08:50] matrix1001 commented on #1139
I just checked the code.  Found this in FmtStr:
[code]
it shoul be `fmtstr += fmtstr_payload(self.offset, self.writes, numbwritten=self.padlen+self.numbwritten, write_size='byte')`

[2018-04-19 03:42] joingh123 commented on #631
So,have you finished your code yet?
I'm learning the article which you have read...
Can you post your code or specify what wrong with it ?

[2018-04-21 05:46] letitbezh opened #1140 "docker gdb attach"
I have make a docker about pwntools.
But,when i use gdb.attach it always wait for debugger . i have install tmux and set context.terminal = ['tmux', 'splitw', '-h']
[+] Starting local process './srop_test': pid 323
[*] '/root/ctf/srop_test'
    Arch:     i386-32-little
    RELRO:    Partial RELRO
    Stack:    No canary found
    NX:       NX enabled
    PIE:      No PIE (0x8048000)
[*] running in

[2018-04-21 05:46] letitbezh commented on #1140
sorry ， some suggestion。。。

[2018-04-21 10:39] sudhackar opened #1141 "Incorrect output for asm"
For the following `asm` generated an invalid output.

[code]
Since asm is a just a wrapper on top of `x86_64-linux-gnu-as`, I gave it a try.
Interestingly `x86_64-linux-gnu-as` also generated same output. I don't know where to report this to.

[code]

[2018-04-22 10:23] vmayoral opened #1142 "32 and 64 bit discrepancy in shellcraft's shellcode behavior"
Greetings,

I found discrepancies between the behavior of 32 and 64 bit shellcraft's shellcodes. The file being exploited is [this one](https://github.com/vmayoral/basic_cybersecurity/blob/master/tutorial6/narnia1.c), displayed below for clarity:
[code]

The following two scripts compile the code (for 32 and 64 bits respectively), craft a shellcode and try to exploit the vulnerability.
- [32 bit](

[2018-04-22 11:32] Arusekk commented on #1140
Maybe you are using `pwntools` outside of `tmux`?
Also, could you attach the output of the script with `context.loglevel` set to `'DEBUG'`. This would be helpful.

[2018-04-22 11:37] Arusekk commented on #1142
I think the problem is not related to pwntools, but to a bug in C code. Note that [genenv(3)](https://linux.die.net/man/3/getenv) is defined in header `<stdlib.h>`, but narnia1.c does not include it.

There is a behaviour in gcc that auto-detects signatures of undeclared functions.

Note the compiler warns about this:

The thing that happens for 64-bit is that the pointer returned by getenv(3) get

[2018-04-22 18:13] vmayoral commented on #1140
@letitbezh I stumbled on the same issue and my problem was that i wasn't running the python script **within** `tmux`.

Try the following:
[code]

I got it that way (thanks @Arusekk).
<img width="1199" alt="captura de pantalla 2018-04-22 a las 20 12 43" src="https://user-images.githubusercontent.com/1375246/39098344-9589ded6-4669-11e8-930d-d2f87c0f4fec.png">

[2018-04-22 18:28] zachriggle commented on #1141
I’d recommend reporting it to upstream binutils.

Are you sure it’s a binutils / as problem, and not an incorrect GDB output?

[2018-04-22 18:28] #1141 closed, assigned to nobody

[2018-04-22 18:30] zachriggle commented on #1140
Debugging requires ptrace.

Docket requires --privileged to use ptrace.

[2018-04-22 18:30] #1140 closed, assigned to nobody

[2018-04-22 18:31] zachriggle commented on #1139
Yep, the code is pretty limited in its utility.  I had some prototype code to auto-solve and exploit format string bugs in a pull request but it was never completed.

Feel free to contribute a fix!

[2018-04-22 18:38] vmayoral commented on #1142
Thank @Arusekk, that's a good guess.

Haven't been able to reproduce it with other examples so let me close it for now.

[2018-04-22 18:38] #1142 closed, assigned to nobody

[2018-04-23 01:51] david942j commented on #1141
I found the output of `asm('jmp dword [esp+0x8]')` and `asm('jmp dword ptr [esp+0x8]')` are different (and the later one has correct result),
OP used the previous one, which IMO is an invalid instruction.
Maybe it's a kind of undefined behavior of `as`?

[2018-04-23 02:11] sudhackar commented on #1141
Its not an issue with gdb.

[code]

Also as @david942j pointed out

[code]

[2018-04-23 10:41] Arusekk commented on #1132
#1125 fixed this for `stable`

[2018-04-29 09:24] summershrimp commented on #529
Ubuntu 18.04 no longer install python2 as default.

[2018-04-30 08:45] avncharlie opened #1144 "'Error in sourced command file'"
(Apologies if this isn't the right place to ask this!)
I am a new user of pwntools, and am attempting to use pwntools gdb features.
However, when I try to run it, it says 'error in sourced command file, connection timed out'
Here is a screenshot:
<img width="1280" alt="screen shot 2018-04-30 at 6 42 59 pm" src="https://user-images.githubusercontent.com/24058782/39420117-6c4d244a-4ca6-11e8-87fb-126

[2018-04-30 21:16] zachriggle commented on #1144
Can you run with `python yourscript.py DEBUG` to show the actual GDB script which is emitted?

[2018-04-30 21:17] zachriggle commented on #529
Thanks for the info, @summershrimp!

[2018-04-30 21:21] zachriggle commented on #529
Given that Python2 is marked end-of-life on January 1, 2020, we may not need to keep backward compatibility, and just make Pwntools 3.x a legacy branch that supports Python2, and Pwntools 4.x as the Python3-only new release.

I *do* believe that we should be as accommodatingly compatible as possible to make script porting trivial (e.g. tubes *should* work with strings-as-bytes, via opportunistic `

[2018-05-01 04:10] avncharlie commented on #1144
A screenshot of running it with `DEBUG`:
![image](https://user-images.githubusercontent.com/24058782/39460678-bb1d282a-4d48-11e8-9890-db8d0d9dd398.png)
The text from the left pane:
[code]
If it helps, I have GDB Peda installed (although it wasn't working without it either). Would system info help?

[2018-05-07 21:37] MTJailed commented on #1097
Some assholes have done command injection and escaped the python shell it seems.
They also tried out a kernel exploit and therefore the server went downz

[2018-05-08 02:26] zachriggle commented on #1097
You can escape the Python “jail” pretty easy with system(). Re: the Docker
container and kernel exploit — probably! It’s also down pretty occasionally
because it’s a $5 DigitalOcean box and I don’t have any scripts to clean it
up periodically.

Anyhow, I’ll kick it!
On Mon, May 7, 2018 at 4:37 PM MTJailed <notifications@github.com> wrote:

[2018-05-10 13:46] zachriggle opened #1147 "Investigate LIEF project for ELF / PE / MachO parsing"
This looks pretty interesting!

https://lief-project.github.io/doc/latest/Intro.html

[2018-05-10 14:03] zachriggle commented on #1144
No idea, @avncharlie.  Works fine for me.  I expect your GDB is old and-or busted.

* Can you run `./challenge` outside of Pwntools?
* Can you debug it outside of Pwntools?

https://asciinema.org/a/NxkPEICILqlTwHKV0YClMdzz3

[2018-05-10 23:59] Acebond opened #1149 "GDB Warning: not running or target is remote"
Hello,

This issue is only on Ubuntu 18.04 LTS as far as I can tell. When debugging a process with `pwn.gdb.debug`, gdb reports `Warning: not running or target is remote` and does not display the registers, disassembly and stack.
![image](https://user-images.githubusercontent.com/6915160/39899687-b1012b56-5500-11e8-8480-93eb4a9b81e9.png)

Test script I'm using. This happens when debugging any exec

[2018-05-11 01:02] zachriggle commented on #1149
Does it work if you remove your gdbinit / disable PEDA?
On Thu, May 10, 2018 at 6:59 PM Michael Bielsy <notifications@github.com>
wrote:

[2018-05-11 01:25] Acebond commented on #1149
Hi,

Thanks for the suggestion. It was just peda thinking the target was remote. I've hacked together a fix by making the peda function is_target_remote() always return false.

It was because `info program` returned `Debugging a target over a serial line.` which peda uses to determine in the program is remote.
[code]

Thanks.

[2018-05-11 01:25] #1149 closed, assigned to nobody

[2018-05-17 15:59] bruce30262 commented on #1118
@zachriggle any update on this ?

Also If you don't mind I would like to ask about the release date of pwntools 3.13
It seems it has been delayed for about 2 months now
Is everything OK ?

[2018-05-18 06:55] zachriggle commented on #1118
Development cycles are pretty sparse currently. Tests are broken because
Travis made a bunch of changes, and neither I nor @idolfhatler have time to
dedicate — we’d love to see some new contributors step up and fill the void.
On Thu, May 17, 2018 at 8:59 AM Bruce Chen <notifications@github.com> wrote:

[2018-05-18 11:42] sizu91 opened #1151 "Couldn't check security settings"
# Error in ssh

## Original Error :

I did this :
[code]

So, for getting full output I did this, export `PWNLIB_DEBUG=1`

and now I'm getting some error in even importing **pwntools**

[code]

Thanks :smile:

[2018-05-18 14:09] Arusekk commented on #1151
The [`getcwd(3)`](https://linux.die.net/man/3/getcwd) system call fails with `ENOENT` when the working directory gets deleted somehow. It might not be connected to pwntools, but another process deleting the directory in which python was started. Try doing `import os; os.chdir("/")` before importing the library.

[2018-05-18 21:30] zachriggle commented on #1151
"Couldn't check security settings" is a warning, not an error.

It just means we could not detect the arch / distro / version / ASLR state of the remote machine.

You can ignore the warning.

Regarding the "No such file or directory", I suspect @Arusekk is correct and there's an issue with the directory you're running Python from.

[2018-05-18 21:32] #1144 closed, assigned to nobody

[2018-05-20 04:25] syndrill opened #1153 "Spawned GDB attach can't view memory mappings"
[code]
As you can see this actually works and spawn a new tab in terminator, but in gdb I can't read/write anything to memory.
# Can't view memory mappings
[code]
Maybe, somewhat helpful to note, I just changed my linux vm distro to Ubuntu 18.04 recently, this doesn't happen before.

[2018-05-20 14:13] Inndy opened #1154 "`intervaltree` broked `ELF` class"
[code]

`ELF` class will be broken if `intervaltree>=2.0.2`, `intervaltree<=2.0.1` works fine.

[2018-05-20 15:46] syndrill commented on #1153
This actually works now. I don't know whats happening, but I've updated using `apt update && apt upgrade` this morning and the problem still exists, Update once again this night and it's working as is while there isn't even any updated package while doing `apt upgrade`.

[2018-05-20 15:46] #1153 closed, assigned to nobody

[2018-05-21 07:25] zachriggle commented on #1153
Glad everything worked out! Let us know if there are any more issues ❤️
On Sun, May 20, 2018 at 8:46 AM Usman Abdul Halim <notifications@github.com>
wrote:

[2018-05-21 07:26] zachriggle commented on #1154
Thanks for filing the bug!

Do you know if this is an issue with how Pwntools uses intervaltree? Or
just an issue with intervaltree itself.

If the latter, have you filed an intervaltree bug?

We’ll try to push out a hot fix soon!
On Sun, May 20, 2018 at 7:13 AM Inndy <notifications@github.com> wrote:

[2018-05-21 07:33] sandikast commented on #1154
The same issue, with pwntools 3.12.0

[2018-05-21 07:43] Inndy commented on #1154
It's a bug from `intervaltree` due to its dependency `sortedcontainers` changed their API. I think they are working on this issue.

ref: https://github.com/chaimleib/intervaltree/issues/68

[2018-05-25 04:55] bruce30262 commented on #1133
@zachriggle I've take a look at the latest build of the dev branch ( [link](https://travis-ci.org/Gallopsled/pwntools/builds/363799792?utm_source=github_status&utm_medium=notification) ) and it seems that it's because travis-ci no longer support ubuntu 12.04, causing the build failed to install the addons (  e.g. `as` ). This will failed all the tests that required the assembler ( `runner.rst`, `e

[2018-05-25 05:00] zachriggle commented on #1133
First, thanks for looking into this. I wish I had more time to give back to
the community to fix these issues, but it’s just not possible right now. My
CTF team qualified for DEFCON finals (alas, I did not participate in Quals)
so maybe I can poke some of them to do it.

If you add “sudo: true” to the config, it should fix the first error.

For the second one, I’d suggest getting a Trusty minimal

[2018-05-25 07:13] bruce30262 commented on #1133
@zachriggle  Got some good news here , the [build](https://travis-ci.org/bruce30262/pwntools/jobs/383558274) in travis-ci finally pass all the test cases :)))

----------------
The `shellcraft/mips` error got me confuse though.
For testing `shellcraft.XXX.linux.sh()` ( XXX = aarch64, amd64....) , most of them are using the following test case:
[code]
However, `shellcraft.mips.linux.sh()` is using

[2018-05-25 07:24] zachriggle commented on #1133
For “sudo” just pick, I don’t have a preference. What do the Travis docs
suggest?

For the “run the code instead of checking its output”, sounds good to me!

Please create a pull request against the “stable” branch. You might need to
cherry-pick your fixes against that branch if you were working on “dev”.
On Fri, May 25, 2018 at 2:13 AM Bruce Chen <notifications@github.com> wrote:

[2018-05-25 10:04] bruce30262 commented on #1133
PR has been created ( #1155 ), please check it out .

[2018-05-25 16:34] bruce30262 commented on #1118
@zachriggle I think I found the root cause:

https://github.com/Gallopsled/pwntools/blob/20cb04984ae9687de3f192c76e1cfa405b00665b/pwnlib/rop/rop.py#L509-L517

The `setRegisters` method use the following rules to choose the best gadget for the `touched` registers:
1. `if old is gadget`: If we have a new gadget for the touched registers
2. `old.move > gadget.move`: If the new gadget requires less st

[2018-05-25 20:12] zachriggle commented on #1133
Fixed via #1155

[2018-05-25 20:12] #1133 closed, assigned to nobody

[2018-05-25 20:12] zachriggle commented on #1021
Fixed via #1155 with the caveat that we switched to "sudo: true", which greatly slows down the tests.

I'd rather have them work and be slow, than be broken.

[2018-05-25 20:12] #1021 closed, assigned to zachriggle

[2018-05-25 21:16] zachriggle commented on #1118
Thanks for looking into this, @bruce30262!

I think that's a good optimization in general, since less instructions will generally be preferred, and it should work around the "syscall" issue.

Separately, I think `setRegisters` should just discard any instruction sequences that include "syscall" or "int XX" instructions.  We don't want those in `setRegisters`.

[2018-05-26 06:58] bruce30262 commented on #1118
@zachriggle the PR is ready, which branch should I create against to ?
(edit : after I check the PULL_REQUEST_TEMPLATE.md, I think I'll create a PR against the stable branch.)

[2018-05-26 07:33] bruce30262 commented on #1118
PR created ( #1156 ), please take a look !

[2018-05-27 10:43] icyphox opened #1158 "AttributeError: module 'pwn' has no attribute 'process'"
I'm on Ubuntu 18.04 LTS, and I've installed the latest version of Pwntools.
I get `AttributeError: module 'pwn' has no attribute 'process'`. I've tried it with both Py2.7 and Py3.6. No dice.

[2018-05-29 20:30] zachriggle commented on #1158
You have a file in your working directory named `pwn.py`.

[2018-05-29 20:30] #1158 closed, assigned to nobody

[2018-05-30 13:11] acdxvfsvd opened #1160 "PyPI install a buggy version of capstone automatically"
After installing it with ```pip install pwntools``` on a new virtual machine, I used the ```ROPgadget``` command but received an error message:
[code]

I googled it and found that it was a bug in ```capstone 3.0.4``` but PyPI automatically installed it.
Could you please update the requirements on ```PyPI``` to ```capstone>=3.0.5rc2``` ?

[2018-05-30 15:50] SoWhereAreYou opened #1161 "How can I simulate the ctrl+d？"
Hello，I am a chinese，so I am sorry my english is not good.
I‘m doing a CTF challenge and I want to leak a address.However ，I found what my enter would destory a pointer in memory.So I want to send ctrl+d.But I find \x04 is not work.
I had seen your old answer,using pty.However it seem not work .
The code like this
---------------------------------------------------------
io = process('./secretgard

[2018-05-30 18:27] zachriggle commented on #1161
By default, Pwntools creates a PTY and disables all terminal control code emulation (a "raw" PTY) when invoking `process()`.  The default arguments are:

[code]

You will want to change `raw` to be `False`.  More information is available in the [documentation](http://docs.pwntools.com/en/stable/tubes/processes.html) although there's not very much about those features.

The caveat here is that by e

[2018-05-30 18:29] #1161 closed, assigned to nobody

[2018-05-30 18:40] zachriggle commented on #1160
I just checked out the release notes, that should be fine.  Would you mind creating a pull request against the `stable` branch for this?

[2018-05-31 00:14] SoWhereAreYou commented on #1161
Thank you ,you are so kind but can I use 'raw =false' then in next line change  it to 'raw=true'

[2018-05-31 03:01] 0xling opened #1163 "pwnlib/util/proc/status error"
in pwnlib/util/proc.py the Fucntion status. when the line is an empty line, the line.index(':') will raise an Exception.
[code]

In my ubuntu 1604, the status file just has an empty line.
[code]
the version of my ubuntu
[code]

I don't know why there existed an empty line, but I think here should add two line code to check empty line.
[code]

And also in the proc.py, I found the function pidof(tar

[2018-05-31 20:25] zachriggle commented on #1163
There's an open pull request for this, see #1159

[2018-06-04 16:13] zachriggle commented on #1163
This should be fixed in the `stable` branch

[2018-06-04 16:13] #1163 closed, assigned to nobody

[2018-06-06 03:02] bruce30262 commented on #1118
Since the PR has been merged I'm closing the issue

[2018-06-06 03:02] #1118 closed, assigned to nobody

[2018-06-06 03:06] bruce30262 commented on #1132
Since this was fixed in the `stable` branch I'm closing the issue.

[2018-06-06 03:06] #1132 closed, assigned to nobody

[2018-06-08 14:09] TethysSvensson opened #1164 "ELF.search gives false positives"
`ELF.search` can sometimes give out false positives.

For instance:

[code]

[code]
[foo.zip](https://github.com/Gallopsled/pwntools/files/2084686/foo.zip)

[2018-06-08 14:13] TethysSvensson commented on #1164
The binary was generated with `echo 'int main() {}' | gcc -x c - -no-pie -fno-PIE -o foo`

[2018-06-10 02:14] Ptomerty opened #1166 "[question] My output buffers and only sends after calling interactive()"
I've been trying my hand at using pwntools for various PicoCTF 2017 challenges; however, when I need to write format strings, the output seems to buffer.

[My solution script](https://github.com/Gallopsled/pwntools/files/2087500/fs2.txt)

When I try to send the huge write (lines 61-63), pwntools buffers this, as well as the next few writes. My output then looks like this (attached at bottom):

Onl

[2018-06-10 02:55] Ptomerty commented on #1166
Will reopen once I can figure out the exact bug: seems to be related to receiving lines.

[2018-06-10 02:55] #1166 closed, assigned to nobody

[2018-06-11 16:20] #1164 closed, assigned to nobody

[2018-06-11 18:51] arman-k opened #1168 "ValueError in parsing /proc/pid/status"
A ValueError is raised when gdb.attach() attempts to parse the output of /proc/pid/status:
[code]
It turns out that /proc/pid/status sometimes contains a line without the separator ':' (here, right after 'Seccomp:        0'):
[code]
I guess we shouldn't make any assumption about all lines containing the ':' separator.

[2018-06-14 14:10] JustBeYou commented on #1168
I think regular expressions are always a better way of parsing strings. Anyone on this issue? I would like to start contributing

[2018-06-18 22:46] SecT0uch commented on #529
That's a fantastic idea! Looking forward to it.

[2018-06-19 01:10] summershrimp commented on #529
Python3 == Pwntools 5 should avoid the mess of version numbering LOL.

[2018-06-19 07:32] qwaz commented on #1168
I faced the same error yesterday. As a quick fix, I added `if line != '\n':` to my local `pwnlib/util/proc.py` after these lines.
[code]

[2018-06-19 17:11] zachriggle commented on #1168
This should be fixed on `stable` -- we need to cut a new release for this.

[2018-06-19 17:12] zachriggle opened #1170 "v3.12.1 release"
We should cut this release because #1168 (fixed on `stable`) is causing lots of issues for people

[2018-06-19 17:17] zachriggle commented on #1170
I've updated the changelog in b7609ae4 for this specific bugfix release

[2018-06-19 17:17] zachriggle commented on #1170
We are very behind on releases, which is a separate issue of time / effort -- but I think we can cut this single point-release.

[2018-06-20 19:55] zachriggle opened #1171 "Disable libcdb code"
My libc database hasn't been maintained in a year, and the code should be either removed or set to default-off.

[2018-06-21 01:44] david942j commented on #1171
May I know why stop maintaining libcdb?

[2018-06-21 02:32] zachriggle commented on #1171
It requires a LOT of storage and there are so many different cloud
distributions nowadays that all have different libc binaries... it's not
really worth it.

You can see the current state here: https://gitlab.com/libcdb/libcdb

Note that it requires about 30GB to check out.  It looks like it hasn't
been updated in a ~year.

*Zach Riggle*

On Wed, Jun 20, 2018 at 8:44 PM david942j <notifications@gi

[2018-06-21 09:09] Inndy commented on #683
Using keystone as a backend assembler for `asm()` will be much more faster than using binutils. I'm glad to see this happen!

[2018-06-21 22:48] zachriggle commented on #683
I'd be glad to support the changes, but don't have time to implement them currently.  Contributions would be greatly appreciated!

[2018-06-22 06:46] david942j commented on #683
FYI, [pwntools-ruby](https://github.com/peter50216/pwntools-ruby) uses Keystone/Capstone for asm/disasm

[2018-06-22 19:23] zachriggle commented on #683
Good to know!  Unfortunately it looks like it’s missing the entire
shellcraft module — which is the bulk of the backward compatibility issue.

On Fri, Jun 22, 2018 at 1:46 AM david942j <notifications@github.com> wrote:

--

*Zach Riggle*

[2018-06-27 20:53] zachriggle opened #1172 "ftp.ubuntu.org:21 is down"
We rely on `ftp.ubuntu.org` in our `intro.rst` (https://github.com/Gallopsled/pwntools/blob/dev/docs/source/intro.rst).

It looks like this is down now.  It looks like it wasn't even ever the right host? (Should have been `ftp.ubuntu.com`)

[2018-07-01 03:03] rcx opened #1173 ""pip install" pollutes /usr/local"
After running `pip install pwntools`, I notice that there are many new files in /usr/local that shouldn't belong there:

[code]

is this intended?

[2018-07-01 17:55] zachriggle commented on #1173
Nope! Not intended. I’m not sure why this is happening — if you can submit
a pull request to fix the issue it would be greatly appreciated.

On Sat, Jun 30, 2018 at 10:03 PM ecx86 <notifications@github.com> wrote:

--

*Zach Riggle*

[2018-07-02 21:58] #971 closed, assigned to zachriggle

[2018-07-02 21:58] #1154 closed, assigned to nobody

[2018-07-02 21:58] #1160 closed, assigned to nobody

[2018-07-02 21:58] #1172 closed, assigned to nobody

[2018-07-06 16:15] rcx commented on #1173
I was running pip as `sudo -H pip`, which messed it up. Running with `sudo pip` worked fine

[2018-07-06 16:15] #1173 closed, assigned to nobody

[2018-07-21 16:48] CherryWorm commented on #826
So I've taken a quick look at this, and there seem to be 2 fairly simple fixes. The problem with @Stolas's try is that jupyter uses different environment variables for each kernel, and the kernels don't inherit the environment variables of the jupyter process itself. However one can use the `%env` instruction to set these variables inside of the notebooks.

The first fix is to add
[code]
at the to

[2018-07-27 13:46] jonasbb opened #1177 ""TypeError: not enough arguments for format string" while trying to look up a corefile"
I am using pwntools 3.12.0 on Fedora 28.

When trying to execute

[code]

I get the TypeError message. This also reproduces in the pwntools:stable docker container.

The full error message is:

[code]

I guess [this line](https://github.com/Gallopsled/pwntools/blob/9023b383af7024198434be93d1db1e64422f4513/pwnlib/elf/corefile.py#L1316) is the cause, as the core_pattern (`|/usr/lib/systemd/systemd-c

[2018-07-27 13:59] jonasbb opened #1178 "Add support for coredumpctl?"
I would like to use the corefile functions of pwntools on Fedora. Fedora uses coredumpctl to save the corefiles. I guess this could work like the existing apport support.

I could create a pull request, if there is interest to support this.

[2018-07-27 18:43] zachriggle commented on #1178
Sure, but I'd expect the Pull Request to come with supporting documentation since I'm unfamiliar with the mechanism and how it works.

[2018-07-31 10:13] kato-megumi opened #1180 ""IOError: File name too long " when call ROP"
Error log:

This probably what cause problem:

[code]
Linux max filename length only 255 so instead of join hash files name, dont better should hash the join file name ?

[2018-08-05 10:28] Arusekk commented on #1173
I found for me that it still installs some unnecessary files in `/usr/lib/python2.7/site-packages/`
[code]

Based on the contents they all belong to `pwntools`. It may be the issue of MANIFEST.in:
https://github.com/Gallopsled/pwntools/blob/b666e9eee1054ae024dfc87c94f2eaebb25def22/MANIFEST.in#L3

While it is desirable to install `LICENSE-pwntools.txt`, the other files are not necessarily essential

[2018-08-05 11:19] Arusekk commented on #1173
Actually, `MANIFEST.in` is innocent here.

This is the other place where data files get listed:
https://github.com/Gallopsled/pwntools/blob/b666e9eee1054ae024dfc87c94f2eaebb25def22/setup.py#L84-L86

Maybe we could just change this `''` to something relevant, like `'pwntools-doc'`?
Tried it myself and it seems to work.

[2018-08-17 13:46] packmad opened #1183 "Arm Linux shellcode contains null bytes"
Hi guys,

the [linux arm shellcode](https://github.com/Gallopsled/pwntools/blob/dev/pwnlib/shellcraft/templates/arm/linux/sh.asm) contains null bytes:

[code]

[This shellcode](http://shell-storm.org/shellcode/files/shellcode-696.php) worked for me.

[2018-08-17 19:22] zachriggle commented on #1183
First, Pwntools' shellcraft `arm.linux.sh` is a compromise to provide maximum flexibility.  The shellcode you linked to does not work against BusyBox, ToyBox, or Android shells.  See #626 for more information.  You can also see #406 to see earlier analysis and reasons why our ARM shellcode is *NOT* guaranteed to be NULL-free.

The shellcode you linked to *also* contains a NULL byte, specifically a

[2018-08-17 19:22] #1183 closed, assigned to nobody

[2018-08-21 02:33] omretterry opened #1184 "Cannot use ssh in Ubuntu 16.04"
User ssh error in Ubuntu 16.04
`
[-] Connecting to pwnable.kr on port 2222: Failed
Traceback (most recent call last):
  File "./lotto.py", line 5, in <module>
    sh = ssh(host='pwnable.kr',user='lotto',password='guest',port=2222)
  File "/home/ubuntu/.local/lib/python2.7/site-packages/pwnlib/tubes/ssh.py", line 606, in __init__
    self.client.connect(host, port, user, password, key, keyfiles, se

[2018-08-21 02:41] omretterry commented on #1184
Downgrade the paramike version to 2.1.2 and solve the problem.

[2018-08-21 02:41] #1184 closed, assigned to nobody

[2018-08-21 03:53] winmin opened #1185 "so why not update 2 python3"
# Pwntools Issue Template

Thanks for contributing to Pwntools!

When reporting an issue, be sure that you are running the latest released version of pwntools (`pip install --upgrade pwntools`).

Please verify that your issue occurs on 64-bit Ubuntu 14.04.  You can use the Dockerfile on `docker.io` for quick testing.

[code]

If possible, provide a proof-of-concept which demonstrates the problem.

[2018-08-21 18:13] #1185 closed, assigned to nobody

[2018-08-22 10:03] bruce30262 commented on #1170
@zachriggle @Idolf any update on this ? It's been very quite here lately :/

[2018-08-24 14:30] ladreamist opened #1187 "Warnings in mips-linux-gnu-as Breaks MIPS Shellcode."
On 64-bit Ubuntu 18.04, the assembler in the `gcc-mips-linux-gnu` package, `mips-linux-gnu-as`, gives warnings whenever the $at register is used without `.set noat` preceding. As is the case in some of [pwnlib's shellcode](https://github.com/Gallopsled/pwntools/blob/80e12c7031/pwnlib/shellcraft/templates/mips/linux/findpeer.asm). At the same time, `pwnlib.asm.asm` uses a `_run` function that assum

[2018-08-24 14:32] ladreamist commented on #1187
[Chromium's fix](https://codereview.chromium.org/1275393002) to a similar issue was to just add `.set noat` to the shellcode where applicable.

[2018-08-24 15:25] ladreamist commented on #1187
I had forogtten to mention that this is on the `dev` branch. On `master` there were other issues with MIPS shellcode.

[2018-08-27 00:30] d-demirci commented on #1132
hi i am still getting the same error.  i installed using the instructions here. http://docs.pwntools.com/en/stable/install.html
my environment :
OS: Linux machine 4.4.0-131-generic #157-Ubuntu SMP Thu Jul 12 15:51:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Python : Python 2.7.12
pwntools last update time :
[code]
and
[code]

but
[code]

nvm :  don't use pip repo
install using
$ git clone https://g

[2018-08-27 03:15] bruce30262 commented on #1132
@d-demirci yes we'll have to install pwntools directly from github for the latest bug fix, until they have time to release version 3.12.1 ( #1170 )

[2018-09-01 14:46] matedealer opened #1189 "Import from elftools is failing"
When installing the newest version of pwntools in a fresh venv, "from pwn import *" failing in a python console:
[code]
I guess the new version of elftools may be the problem ( https://pypi.org/project/pyelftools/0.25/ )

[2018-09-02 04:54] wujiechao commented on #1189
Due to ENUM_P_TYPE not in /usr/lib/pythonXX/site-packages/elftools/elf/enums.py, but ENUM_P_TYPE_BASE in it, so there is a solution that change the ENUM_P_TYPE to ENUM_P_TYPE_BASE in /usr/lib/pythonXX/site-packages/pwnlib/elf/elf.py. (Just 2 places: line 54 and line 1749)

tips: This solution can solve some friends' problem, but in some cases, will bring other problem. Another solution for solve t

[2018-09-02 12:13] Ethnical commented on #1189
Same issue but after changed the name of ENUM_P_TYPE -> ENUM_P_TYPE_BASE i got this error : `>>> import pwn
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/pwn/__init__.py", line 4, in <module>
    from pwn.toplevel import *
  File "/usr/local/lib/python2.7/dist-packages/pwn/toplevel.py", line 20, in <module>
    import pwnlib

[2018-09-02 14:06] faraazahmad commented on #1110
I have a similar problem
[code]

[2018-09-02 14:07] faraazahmad commented on #1110
I have a similar problem

[code]

[2018-09-02 20:26] nonsens3 opened #1192 "Getting an installation error after installing pwntools in Debian."
Hey, today I followed the instructions to get pwntools in my debian-based kali linux rolling. Now i'm getting a library error somewhere and I'm not able to solve it by myself. I tried to get help via IRC but was unsucessful.

asciinema error : https://asciinema.org/a/9tcTP7b3osrcPo4i084vmcDPp
pip install --upgrade pwntools: http://prntscr.com/kpsygf

PS: Month ago I had a Kali Linux rolling workin

[2018-09-03 10:05] ChristosSoteriou commented on #1192
I have the same exact issue. I have been using Kali for a few months. Yesterday I made a new VM with Kali and this excact problem showed up.

https://prnt.sc/kpzojn

So I desided to try and install pwntools on my Ubuntu Server VM. I got the same error.

http://prntscr.com/kpzjtf

[2018-09-03 10:55] nonsens3 commented on #1192
Get solved by simply following this issue https://github.com/Gallopsled/pwntools/issues/1189

[2018-09-03 10:55] #1192 closed, assigned to nobody

[2018-09-06 02:59] estewart08 commented on #1189
I am still having the same issue. I have changed ENUM_P_TYPE to ENUM_P_TYPE_BASE on line 54 and line 1749 in elf.py. I assume I have to recompile the elf.py after these changes? However, I am getting some permission errors when trying to recompile. Any thoughts?

FIX: I had to change permission on my elf.pyc file so that it would recompile. Now it is working properly.

[2018-09-06 07:45] david942j opened #1193 "Wrong assembly generated by shellcraft.execve('ecx', [], 0)"
Output:
[code]
Because `shellcraft.execve('ecx', [], 0)` will call `push_array` first, which modifies `ecx`.

Same situation occurs when architecture is amd64, which pollutes `rsi` during pushing the empty array.

[2018-09-06 19:31] zachriggle commented on #1193
This is a bug, but I don't think it's something that can be easily fixed (and right now we lack sufficient resources to handle e.g. #1189 in a timely manner).

For this to work the way you intend (i.e., have the register value of `ecx` as the first syscall argument), we'd have to encode a bunch of register dependency logic into the `pushstr` and `pushstr_array`.  There's not a nice way to do it.

[2018-09-10 16:37] Ferdi265 commented on #779
Python3 has the possibility of writing to `sys.stdout.buffer` which accepts bytes/bytearrays.

The only caveat here is that `stdout` and `stdout.buffer` are individually buffered in default python, so it's best to flush both to stop weird ordering issues between them.

[2018-09-10 19:44] #1193 closed, assigned to zachriggle

[2018-09-11 00:11] njfox commented on #1117
I'm having this same issue in a fresh venv on Arch Linux (also MBE, lab 6B).

[2018-09-12 19:52] #1097 closed, assigned to nobody

[2018-09-16 17:58] stuk0v opened #1197 "Can't properly use pwntools at kali, ubuntu 18.04 or debian stable"
using ubuntu 18.04, debian stable (strech), or kali 64bit, all have the same issue:
[code]

[code]

[code]

This is what happens when i test the installation (the output is exactly the same at all 3 installations I mentioned):
[code]

[2018-09-17 19:28] zachriggle commented on #1189
Fixed with `7467402e`, will cut a new release today

[2018-09-17 19:28] #1189 closed, assigned to nobody

[2018-09-17 19:55] zachriggle opened #1199 "Sphinx 1.8.0 "recursion error""
When running the doctests via:

[code]

The following error is emitted:

[code]

Manually updating the `recursionlimit` in `docs/source/conf.py` as specified does not resolve the issue.

[2018-09-17 21:21] #1187 closed, assigned to nobody

[2018-09-17 22:20] zachriggle commented on #1199
Fixed in 60df8107c0676fc0db40798c6866c33a4ee24130

[2018-09-17 22:20] #1199 closed, assigned to zachriggle

[2018-09-17 22:21] zachriggle commented on #1197
Released pwntools==3.12.1, please update!

[2018-09-17 22:21] #1197 closed, assigned to nobody

[2018-09-17 22:22] zachriggle commented on #1177
This was due to some changes in `pyelftools`, and has been fixed in `3.12.1`.

[2018-09-17 22:22] #1177 closed, assigned to nobody

[2018-10-03 16:32] kpcyrd opened #1201 "pwntools crashes in docker without -t"
While working on a ctf we noticed we can't execute our healthcheck exploits in docker without `-t` (import crashes).

[code]

This is the same issue as #826, but easier to reproduce.

We're currently working around this by adding this line to every docker file:
[code]

I think pwntools should check for a tty and if non is available it should behave as if `PWNLIB_NOTERM=true` was set.

[2018-10-03 20:07] zachriggle commented on #1201
We do.

https://github.com/Gallopsled/pwntools/blob/c89bed2555990d35f9cc4804bdedb4a007af5802/pwnlib/term/__init__.py#L24-L35

It looks like there's some static initialization code that doesn't use this.

[2018-10-03 20:10] #1201 closed, assigned to nobody

[2018-10-03 20:12] #1170 closed, assigned to TethysSvensson

[2018-10-03 20:19] kpcyrd commented on #1201
The python process crashes during the import, so this check is missing somewhere. There shouldn't be any calls to curses code if no terminal is attached to the process. The code that is triggering the crash is simply:
[code]

[2018-10-03 20:21] zachriggle commented on #1201
Yep! See the commit referenced above, this should be resolved in `dev`

[2018-10-03 23:23] kpcyrd commented on #1201
@zachriggle oh, I missed that. :) Thanks!

[2018-10-09 01:34] zachriggle commented on #529
Looks like there's some stuff going on in @Mic92's fork: 2b493c64ef758d0f58054c1e9e34055e373ab502

[2018-10-09 06:50] Mic92 commented on #529
Take that with a grain of salt. I just ported enough code to python3 to get corefile/elf running as I need this for my research. I will not do a complete port though.

[2018-10-09 06:57] Mic92 commented on #529
I cleaned the code I did last night, you might want to still rethink some decisions as I sometimes took shortcuts and always used bytes where strings might make more sense just to have rewrite less: https://github.com/Mic92/pwntools/commit/478947aefc7b8430f3517e0bfd543294c6bcd491

[2018-10-09 08:38] Arusekk commented on #529
I've also done an experimental python3 support to pwntools on https://github.com/Arusekk/pwntools/tree/full-3-compat , it mostly works (even the CLI!), and passes the tests (with minor differences, like differences in random seeds or printing `b'blah'` instead of `'blah'` and dict reorderings).

The reason why I haven't submitted a pull request is that I still have to clean the commits up a bit.

[2018-10-09 09:30] Mic92 commented on #529
Great, too bad I did know this earlier. I guess I will switch to your version.

[2018-10-09 09:30] Mic92 commented on #529
Great, too bad I did know this earlier. I guess I will switch to your version.

[2018-10-11 10:21] Mighten opened #1205 "Issue at '/usr/bin/pip' not documented: Traceback (most recent call last): File "/usr/bin/pip", line 9, in <module> from pip import main ImportError: cannot import name main"
# Issue at '/usr/bin/pip' not documented

OS: 64-bit Ubuntu 18.04.1 LTS

Error log:
Traceback (most recent call last): File "/usr/bin/pip", line 9, in <module> from pip import main ImportError: cannot import name main

on executing:
$ pip install --upgrade pwntools

After searching the web, I got it.

original /usr/bin/pip
'''python
from pip import main
if __name__ == '__main__':
    sys.exit(main

[2018-10-11 10:43] #1205 closed, assigned to nobody

[2018-10-15 09:35] Alphabay495 opened #1207 "Install Problem"
Collecting git+https://github.com/Gallopsled/pwntools.git
  Cloning https://github.com/Gallopsled/pwntools.git to /tmp/pip-req-build-s8tlbd8u
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "/tmp/pip-req-build-s8tlbd8u/setup.py", line 74, in <module>
        long_description = subprocess.check_output(['pandoc', 'README.md', '--to=rst'])

[2018-10-15 09:52] zachriggle commented on #1207
Pwntools requires using python2.

On Mon, Oct 15, 2018 at 4:35 AM Alphabay495 <notifications@github.com>
wrote:

--

*Zach Riggle*

[2018-10-16 03:48] ManhNDd opened #1208 "Memory leak in pwnlib.tubes.ssh"
In function pwnlib.tubes.ssh.download, self.system is called this way:

=> The ssh channel created by system is not closed => memory leak
It should be something like this:

[2018-10-17 05:19] lxraa commented on #1144
Have you solved this problem?

[2018-10-17 05:19] lxraa commented on #1144
Have you solved this problem?

[2018-10-17 13:32] disconnect3d opened #1210 "Weird asm/disasm"
Is this correct or some syntax sugar? As it seems a bit unintuitive that e.g. `dword` prefix changes the memory address and not what is retrieved (yeah it might be this instruction doesn't support it, but shall the address be then changed according to prefix?).

[code]

[2018-10-17 18:11] zachriggle commented on #1210
Pwntools passes everything directly to binutils (GNU `as` and `objdump`) and extracts the data from there.

I'm not sure if there's some magic / syntax issues going on.  FWIW, I get the same thing.

[code]

[2018-10-18 14:33] Mic92 opened #1211 "coredumps: Handle zeroed memory more efficiently"
At the moment pwntools tries to allocate memory that follows a segment https://github.com/Gallopsled/pwntools/blob/c89bed2555990d35f9cc4804bdedb4a007af5802/pwnlib/elf/elf.py#L937
If a process large virtual memory allocations following the file mapping this fails in python with a MemoryError. This could be worked around by either also create an anonymous memory mapping of the same size or replace t

[2018-10-18 14:34] Mic92 commented on #1211
My dirty solution that works for at the moment is to ignore errors in those cases:

[code]

[2018-10-22 09:46] Alphabay495 opened #1212 "install error"
so ive tried to install it using the instructions

$ git clone https://github.com/Gallopsled/pwntools
$ pip install --upgrade --editable ./pwntools

but it comes up with a massive error and wont install

[2018-10-22 09:54] #1207 closed, assigned to nobody

[2018-10-22 17:37] clark-ja opened #1213 "Remote Debugging"
Hello,

it might be, that I'm just not seeing something here but I have been on this since a long while now and tried it on several machines so it appears to me that it is a issue of pwntools itself. I''m sorry if I'm mistaken...

gdb.attach() doesnt seem to work as expected when passing it a socket as an argument:

`io = remote(host, port)`
`gdb.attach(io)`

When the host is not localhost then th

[2018-10-22 17:43] mfocuz opened #1214 "gdb.py adds "file" command to gdbscript twice, due to this debug doesn't work"
# Description
When gdbscript is prepared, "file" command added twice to gdbscript. Due to that my gdbscript is:
[code]
and it breaks further debugging

# Technical Details
this instruction added in *gdb.py* 1st time in "pre" concating:
[code]

and 2nd time in "gdbscript" concating:
[code]
**I fixed gdbscript +="" for string above and now it works, not sure if it right fix, just PoC**

# Steps to r

[2018-10-23 09:09] zachriggle commented on #1213
Yes, when the host is not localhost you can't debug the process.

Could you explain where the process is running, and how you set up the
debugger without pwntools?

On Mon, Oct 22, 2018, 12:38 PM yakamoz147 <notifications@github.com> wrote:

[2018-10-25 10:18] Inndy commented on #1212
Are you using macOS Moajve and does the error come from libcapstone? If so, check this issue: https://github.com/aquynh/capstone/issues/1235 and try this solution: https://gist.github.com/Inndy/cc9f725c22f23fe87182fd895e7e7ff3

[2018-10-25 11:16] Boxvictor opened #1215 "hosting problems"
Dunno if that are the way to report a broken link on the pwntools docs or u have a problem with the hosting, but
https://pwntools.readthedocs.io/en/stable/dynelf.html?highlight=dynelf --> works
http://docs.pwntools.com/en/stable/dynelf.html?highlight=dynelf --not work
some links using the search on the readthedocs.io  point to pwntools.com , like dynelf

![captura de pantalla -2018-10-25 13-32-25]

[2018-10-27 02:07] Alphabay495 commented on #1212
I’m using parrot os

[2018-10-27 06:32] Inndy commented on #1212
I think you should provide detailed error message so we can help to diagnose what happened.

[2018-10-27 18:41] vigneshsrao opened #1217 "Add Support for File Structure Exploitation?"
Recent CTF's have seen a variety of challenges related to file structure exploitation. It can be pretty hard to remember the offsets of the various members of the `FILE` structure. A class in pwntools to emulate the `FILE` structure, like srop.py for SROP, would make things easier while faking/corrupting a `FILE` structure.

[2018-10-28 15:40] zbeekman commented on #1215
pwntools.com is completely down AFAICT

[2018-10-28 19:26] zbeekman commented on #683
👋 Hi, Homebrew-core maintainer here. FYI, binutils is fairly broken on macOS due to upstream. Also, is pwntools for macOS still [not officially supported](https://github.com/Gallopsled/pwntools/issues/683#issuecomment-251172345)?

Having binutils on the system path breaks compilation with GCC as of macOS 10.14 (Mojave) and/or XCode 10. Specifically GCC ends up trying to invoke `gnm` provided by bi

[2018-10-28 20:25] zbeekman commented on #683
FYI, here is a link to the last 1MB worth of log for the build failure: https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/32547/version=mojave/testReport/brew-test-bot/mojave/install_pwntools/

[2018-10-29 02:48] buckle2000 commented on #1215
Yeah, it is down now.

[2018-10-29 16:44] zbeekman opened #1219 "Pin dependencies"
Hi,

I was wondering if you would consider pinning your dependencies listed in [`setup.py`](https://github.com/Gallopsled/pwntools/blob/dev/setup.py#L46-L62).

It's not too hard to get malicious code into PyPI. Package pinning would at least improve the auditability of pwntools installs, if not help ensure that they have been tested and vouched for with a given pip package.

Thanks

[2018-10-29 17:19] rnbwdsh opened #1220 "Arch User Repository Package for experimental py3 pwntools"
As Arch Linux often runs into issues when installing from pip instead of the package manager (pacman), it'd be awesome if [the pwntools 3 package from pypi](https://pypi.org/project/pwntools/) also was available in AUR, not just [the stable python2](https://aur.archlinux.org/packages/python2-pwntools/) implementation.

If that seems to be too much work, [there even seems to be a script](https://gi

[2018-10-29 19:13] zbeekman commented on #1219
I guess, many consider this to be non-pythonic. If you disagree with this request, please go ahead and close it.

[2018-10-30 20:03] zachriggle commented on #1215
The domain expired while I was on vacation due to a billing issue.  I've fixed it and it should be back up in a few minutes.

[2018-10-30 20:03] #1215 closed, assigned to nobody

[2018-10-30 20:11] zachriggle commented on #1220
The "pwntools 3 package from pypi" is the Python2 version.  There have never been a `python3` release.

The old `python3` fork from v2.2 was never completed, nor passed tests -- it's also entirely unsupported / dead / EOL / will not get bugfixes, ever.

All that said, you can create whatever you'd like on AUR but please do not name it `pwntools`, as this could be confusing and people will try to f

[2018-10-30 20:15] #1220 closed, assigned to nobody

[2018-10-30 22:48] Arusekk opened #1221 "Cannot put 0xaabbccdd00112233 into 'rax' without using stack"
https://github.com/Gallopsled/pwntools/blob/da4a5c4e30d18124b41a025b4de39bda4e211b20/pwnlib/shellcraft/templates/amd64/mov.asm#L220-L221

[code]

And the error is wrong possibly because there is no `dest_orig` in the template's namespace (a typo?).

I agree that such case is extremely rare (normally stack is usable).
But apparently, it is possible to put such values into `rax`.
It is acheiveable b

[2018-10-31 01:05] rnbwdsh commented on #1220
Oh, currently pip3 install pwntools works (as the python_require isn't set in stable) - as the     python_requires      = '~=2.7', in the setup.py isn't backported to 3.12.
Sidestory: checking out 3.14 (dev) and running setup.py doesn't work due to [this error](https://pastebin.com/3WYX8gUW). Patching out the rfc822_escape in `/usr/lib/python3.7/site-packages/setuptools/dist.py` resolves this. The

[2018-10-31 21:53] EvanCarroll commented on #1110
@faraazahmad not similar, that's addressed here https://github.com/Gallopsled/pwntools/issues/1092

[2018-11-19 08:51] desword opened #1226 "Exception: Could not locate any syscalls: <mako.runtime.Undefined object at 0xb6b392ec>"
Exception: Could not locate any syscalls: <mako.runtime.Undefined object at 0xb6b392ec>

When I tried the pwntools on a ubuntu 16.04 32 bit.

[code]

Anyone can give me some help?

[2018-11-19 19:59] zachriggle commented on #1226
The solution is in the error message:

[2018-11-19 19:59] #1226 closed, assigned to nobody

[2018-11-20 00:58] desword commented on #1226
Thanks, I can run pwntools on a 64 bit machine.
But, what if I want to pwn a target on a 32 bit machine?
I can not run the 64 bit python on a 32 bit machine.

[2018-11-20 02:17] zachriggle commented on #1226
I recommend doing your pwning FROM a 64-bit machine.

You can pwn whatever target you like.

On Mon, Nov 19, 2018 at 6:59 PM desword <notifications@github.com> wrote:

--

*Zach Riggle*

[2018-11-20 02:33] desword commented on #1226
Ok, I got it , thanks!

[2018-11-20 06:56] Arusekk commented on #1226
The actual reason for this behaviour is python 2 handling of integers, which gives different types of them based on size. So after pwntools gets to support python version 3, the problem will most likely get solved

[2018-11-21 17:15] gdzx opened #1227 "ssh_process::getenv ignores environment and returns wrong result"
### Introduction

`ssh_process::getenv` returns an incorrect result and ignores overridden environment variables with `process` or `system`.

### Example

With `script.py` containing:

[code]

Running it gives:

[code]

### Possible fix

Using the following patch:

[code]

It returns:

[code]

### Notes

`ssh::getenv` needs similar patching for the result type (even though I'm not sure why it is u

[2018-11-21 20:53] zachriggle commented on #1227
I think the way forward for this will be to force core dumps on the remote process, and use the `Coredump` API.  Unfortunately it's difficult to do this currently, there's no pre-canned solution.  It also requires duplicates of the process in the event of a `setuid` binary.

The current method of shelling out to `python` on the remote system does not work for...

1. Mixed architectures (e.g. 64-bi

[2018-11-21 21:03] zachriggle commented on #1227
Following up, I believe that we can solve (1) by using `Corefile`.  The issue is getting at the corefile.

The issue with foreign architectures is not solvable, since any generated `Corefile` will be for the QEMU process itself, not the "emulated" process.  What we *can* do is try to get `qemu` to generate a corefile by killing the process with e.g. `kill -SIGTRAP {pid}`.

For native processes, we

[2018-11-22 03:58] thinkycx opened #1228 "Does pwntools cannot asm() format like " push 64bit-number""
Hello, I have installed the latest pwntools on ubuntu16.04 and when I asm a format like  'push 0x676e6f306f306f;', it fails. Do you know why? Thank you.

[code]

[2018-11-22 16:40] gdzx commented on #1227
Indeed, I used a 32-bit VM for testing so that worked properly...

To keep it simple, we could check that `python` on the remote host matches `context.arch`.

For mixed architectures, we could rely on something like hellman's [fixenv](https://github.com/hellman/fixenv) that you use in your write-ups if the remote machine has `gcc` and is able to build 32-bit executables (but it depends on how the

[2018-11-23 10:49] syndrill commented on #1228
https://www.felixcloutier.com/x86/PUSH.html, no immediate 64 bit number, but it supports 64 bit register.

[2018-11-23 15:38] gymgit commented on #1117
I have been having the same problem and started looking into it, the issue is in `pwnlib/gdb.py:attach()` the supplied `exe` function parameter is both used as a local and remote path. If these path don't exist on both systems the error occurs.

* line 726: the `exe` param is appended to the gdb script as a local path. Note that the `exe` param has already been used similarly in `pwnlib/gdb.py:deb

[2018-11-23 22:43] #1228 closed, assigned to nobody

[2018-11-23 22:44] zachriggle commented on #1228
@zeroload is correct, `PUSH IMM64` is not a valid instruction.

You should be using `shellcraft.push()` anyway.

[2018-11-23 22:45] zachriggle commented on #1221
Yes, this is correct, as Pwntools makes a best-effort to exclude NULL bytes in any generated shellcode.

0xaabbccdd00112233 contains an embedded null, so it cannot be used as a literal.

If you'd like to extend `shellcraft.mov` to support this optimization, I recommend opening a pull request.

[2018-11-23 22:49] zachriggle commented on #1227
No, I'd prefer we not do this.  The current implementation is ~= broken and really needs a redesign.

Hellman's `fixenv` script is a subset of the functionality Pwntools provides, and also has a great many limitations.  It's a cool script, but it's a uber hack and a major step backward.

We can patch the entry point, but generally we don't have write access to the challenge binary and would need t

[2018-11-23 22:50] #1219 closed, assigned to nobody

[2018-11-23 22:50] #1212 closed, assigned to nobody

[2018-11-23 22:50] #1213 closed, assigned to nobody

[2018-11-23 22:50] #1210 closed, assigned to nobody

[2018-11-23 22:53] zachriggle commented on #1221
Ah, I see now that the issue is that an exception is thrown *when an error message is being raised*.

[2018-11-23 22:53] #1221 closed, assigned to nobody

[2018-11-23 22:55] zachriggle commented on #1221
In any case, if you'd like to add the optimization to `mov.asm`, go for it!  It's probably best to check at the beginning with `okay()` and try both directions of bit-shifting.  Since the search space is at most 8 bits (otherwise shifting would itself introduce a NULL byte) this doesn't sound too expensive.

[2018-11-23 22:58] zachriggle commented on #1117
`exe`  has always referred to a path on-disk on the host that will execute the binary.

For local debugging, this is a local path.

For remote debugging, this is a remote path.

It does appear that `attach(..., ssh=...)` hits this code path when invoked directly, instead of via `gdb.debug()` (which does port forwarding for gdbserver, instead of spawning a remote GDB instance).

[2018-11-23 23:01] zachriggle commented on #1117
Check out #1230 as an alternative to #1229.  I haven't tested it, but I believe this should resolve the issue.

[2018-11-23 23:29] gymgit commented on #1117
I think there is a confusion here how `exe` is used when debugging remotely. You mention that it is meant to be used as a remote path, but both in `gdb.debug()` and in `gdb.attach()` it is added to the gdb script (that it is used locally) as a `file` parameter. This needs to be a local path as gdb tries
 to read this file on the local system.

Initially, I experienced this issue using the `gdb.deb

[2018-12-05 18:25] stvreumi opened #1231 "Can't correcly execute pwntools"
Hello, I got a very weird issue about pwntools.
I recently want to install the tool to do my homework, but it always give me error when I run script:
[code]
I have try install and launch it on ubuntu 14  & 16 docker container. I also ty the docker image you give in the issue template. It also blame the same error message.
This tool can only work on my DigitalOcean **ubuntu 16.06 droplet machine**.

[2018-12-05 21:07] Arusekk commented on #1231
Rename your script to whatever else name. Currently `from pwn import *` imports itself.

[2018-12-05 22:20] zachriggle commented on #1231
@Arusekk is correct

[2018-12-05 22:20] #1231 closed, assigned to nobody

[2018-12-06 06:12] stvreumi commented on #1231
Thanks @Arusekk , I didn't consider this....
Sorry for asking a silly question...

[2018-12-12 00:20] zachriggle opened #1233 "Corefile error with run_assembly"
`run_assembly(shellcraft.trap()).corefile` explodes because we are trying to map a TON of zeroes.

Faults on:

[code]

Where e.g. `zeroed == 0xffcf7400`

[2018-12-18 03:54] ZackNoyes opened #1236 "Feature: Async IO?"
It doesn't look like to me that there is any support within Pwntools for asynchronous IO (for example, being able to start 100 remote processes and deal with them at the same time, rather that one after the other). Since there is also no Python 3 support, the only way I can see this being done is through python modules like `threading` or `multiprocessing`. Just wondering, has this ever been consi

[2018-12-18 22:36] zachriggle commented on #1236
No, there's no asynchronous I/O support (i.e. you cannot set a callback for when data arrives).

I expect that it could be added relatively easy with `threading`, with some simple logic that polls `can_recv` and fires off a callback.

Probably the most efficient way to do this is to define a new class that inherits from `pwnlib.tubes.tube.tube`, that proxies all `xxx_raw` calls to some other `tube

[2018-12-18 22:42] ZackNoyes commented on #1236
Thanks, I'll look into that. The easiest way I've found so far is to just create a process pool through `multiprocessing` (or thread pool) and then use the Pool.map() to get an array of results for a particular call. This may not be the most efficient, but I think for most purposes it is good enough.

See [this blog post](http://chriskiehl.com/article/parallelism-in-one-line/).

[2018-12-19 04:17] zachriggle commented on #1236
The biggest restriction with using `multiprocessing` is that each `tube`'s state will only be valid in the sub-process that it's running -- and only then if the tube isn't touched from the main process.

[2018-12-19 04:21] ZackNoyes commented on #1236
Does this apply even if a `ThreadPool` is used rather than a `Pool` of processes? (e.g. `from multiprocessing.pool import ThreadPool`)

[2018-12-19 07:15] zachriggle commented on #1236
It all depends on how the objects are instantiated.  It's outside the scope of this issue to go into Python's limitations when threading or multiprocessing.

Ultimately, `threading` behaves the way most people expect, and `multiprocessing` has object state issues for objects passed from the parent process *into* the child process.

Anything Pwntools supports officially (i.e. if you intend to submi

[2018-12-21 03:06] ikey4u opened #1237 "wrong argument parsing when import pwn"
- OS : Ubuntu 16.04 LT
- pwntools: Have run the command `pip install --upgrade pwntools`
- Reproduce(demo.py):

[code]

Then run it using `python2 demo.py L`, it will only print `['poc.py']` but no `L`

[2018-12-21 04:00] bannsec opened #1238 "AttributeError: 'IntervalTree' object has no attribute 'search'"
Running the latest version of pwntools from pip and python2:

[code]

[code]

[2018-12-22 02:28] zachriggle commented on #1237
This is because of the magic argument parsing that we do.  It's unfortunate that cases like this behave this way as a result.

You can find more information here: https://docs.pwntools.com/en/dev/args.html

[2018-12-22 02:28] #1237 closed, assigned to nobody

[2018-12-22 10:34] ikey4u commented on #1237
@zachriggle thank u

[2018-12-23 04:30] ZackNoyes commented on #1236
Yes okay, if other people would find value in this then I could look at contributing something, but otherwise I'll stick to my temporary solution. Which while not most efficient, is 'good enough', and easy to implement.

[2018-12-28 06:02] zachriggle commented on #1238
Confirming that this is affecting `dev`.  I really wish intervaltree would stop breaking... #1154 was pretty recent (though from a sub-dependency).  It looks like the 3.x release removed the `search` method.

[2018-12-31 14:16] diouziou opened #1244 "Infinite loop for a specially crafted escape sequence"
Hi,

here is a small script to reproduce the issue:

[code]

Note: if one receives '\x1bP\x1b' in a `p = process()` via `p.recv()` and then launches `p.interactive()`, even `Ctrl+C` cannot stop the infinite loop, and one needs to kill the python process.

The code responsible for the infinite loop is found in file `pwnlib/term/term.py` and function `parse()`.
* The escape sequence '\x1bP' enforces

[2019-01-02 04:44] p702 opened #1245 "Instalation problem sortedcontainers<3.0,>=2.0"
Hi
I try to install pwn tools in Kali 64 bits in Ubuntu 14 and now in the 16 version  by using the comands this
apt-get update
apt-get install python2.7 python-pip python-dev git libssl-dev libffi-dev build-essential
pip install --upgrade pip
pip install --upgrade pwntools

But always the same error when i use pip install --upgrade pwntools

ERROR
"intervaltree 3.0.2 has requirement sortedcontaine

[2019-01-02 14:20] reasley-com opened #1246 "Can I use images?"
s

[2019-01-03 11:27] zachriggle commented on #1246
I would recommend consulting the [Pwntools license](https://github.com/Gallopsled/pwntools/blob/dev/LICENSE-pwntools.txt)

Which image(s) are you referring to?

Also, I'm curious about the book that you're writing, Pwntools' inclusion, etc.  Would you mind elaborating more?

[2019-01-03 11:54] reasley-com commented on #1246
I'm trying to write a protostar problem solver, but I wanted to use the logo.png file at https://github.com/Gallopsled/pwntools while briefly using pwntools.​
And I checked the site that I sent, and it says ok even if I use it for commercial purpose. Can I tell you exactly what I recognized?
-----Original Message-----
From: "Zach Riggle"<notifications@github.com>
To: "Gallopsled/pwntools"<pwntools

[2019-01-04 01:43] CipherCloak commented on #1245
Same error here. Some info:
Kali 2018.4
![pwntools-error](https://user-images.githubusercontent.com/3332674/50670241-a3df1180-0fa0-11e9-8974-3ea8109f9c85.PNG)

[2019-01-04 02:57] p702 commented on #1245
Yes pedro bro i try so many things to solve reinstall install lower versions of the sorted packet and the other intervaltree and nothing the error persist i dont know how to instal pwn tools :(

[2019-01-04 04:21] CipherCloak commented on #1245
According to "setup.py" the problem is not in "pwntools".
See this: https://github.com/Gallopsled/pwntools/issues/1154

I'll try some workaround tomorrow.
Bye... time to sleep :)

[2019-01-04 11:04] trupples commented on #529
Considering the python2 end of life date is getting closer and closer, is there any progress on an official python3 branch/port ?

[2019-01-04 11:15] Mic92 commented on #529
~~I toughed the idea was to get pwned away by open python CVEs, while using pwntools~~ Just kidding.

[2019-01-04 13:15] ghost commented on #1245
it doesn't work on manjaro either

[2019-01-07 18:26] iweizime commented on #1245
It seems that intervaltree has already updated its requirement about sortedcontainers. But Pwntools still use sortedcontainers<2.0 to avoid #1154.

[2019-01-07 21:17] zachriggle commented on #1245
The fix for this landed on `stable` a few weeks ago but I didn't get around to cutting a new release yet.

[2019-01-08 00:54] zachriggle commented on #915
Note that the `sdist upload` command is deprecated.

[code]

The new command looks like:

[code]

[2019-01-08 00:57] zachriggle commented on #1245
This should be resolved in 3.12.2.

[2019-01-08 00:57] #1245 closed, assigned to nobody

[2019-01-13 06:18] p702 commented on #1245
Thank you very much every one install the pip install intervaltree==2.1.0  solve the issue thanks for the support again

[2019-01-16 00:02] EvanCarroll commented on #529
As a side note, Python3-Pwntools hasn't been maintained since July 27, 2018. So the status of Python2 and Python3 with Pwntools can use some clarification.

https://github.com/arthaud/python3-pwntools/issues/9#issuecomment-408456474

[2019-01-16 01:06] kupiakos commented on #529
FWIW, python3-pwntools has a [utility function](https://github.com/arthaud/python3-pwntools/blob/7519197918a0ca4155b184f3dd12b9686a3d2f55/pwnlib/util/misc.py) to encode an input unicode str as UTF-8 in many use-cases, whose usage could be used as a guide to figure out where problematic functions are.

If work is actually begun on this, is it "official" that the branch can drop Python 2 support? Th

[2019-01-16 03:09] arthaud commented on #529
I would also like to know the status of the python 3 support.
Are there people from Gallopsled working on this?

I could possibly work on this since I have a lot of spare time right now (thanks the government shutdown..).
Are you interested in supporting python 3 only, or do you want to support both python 2 and 3?

What would be the best way for an external contributor to help you with this? I do

[2019-01-16 06:38] Mic92 commented on #529
You can probably help out @Arusekk. As far as I understood there are no plans to support python2 after that.

[2019-01-16 16:01] toomanybananas opened #1249 "'from pwn import *' fails when one of the command line args is a Base64 string (or has more than one equal sign)"
The argument parsing functionality invoked by `from pwn import *` causes an error when one of the command line arguments has more than one equal sign:
`echo "from pwn import *\nprint('hello world')" > test.py`
`python test.py afdsa==`

[code]

https://github.com/Gallopsled/pwntools/blob/dev/pwnlib/args.py#L197 probably just needs to be changed to `if arg.count("=") == 1:`

[2019-01-18 19:33] zachriggle commented on #529
No, it's very much a skeleton crew.  I'm the only maintainer at the moment, and barely have enough time to manage pull requests and cut releases.

Ideally we could support both with `six` / `futurize` / etc.  I have a `futurized` branch on my GitHub fork, but it's several years old.  Most of the tests passed: https://github.com/zachriggle/pwntools/tree/futurized

There are a few pull requests movi

[2019-01-19 21:42] timokau opened #1250 "Selectively disable doctests"
Currently the doctests make a lot of assumptions about the system:

- there is internet access
- qemu is installed
- binutils is installed for various architectures
- specific binaries are in specific locations

It would be nice to disable those tests. My use-case ist automatic testing of pwntools for distribution in nixpkgs. Here the most important factor is that tests have to be pure, i.e. no in

[2019-01-20 11:05] gipi commented on #149
Sorry to comment on this issue already closed but seems that the ``shellcraft`` command do not handle a context related option so it's not possible to choose, for example, big endian for the ``mips`` architecture and the default is set to little endian, am I missing something?

[2019-01-20 13:30] timokau commented on #1250
I figured it out, it was an indentation issue. https://github.com/Gallopsled/pwntools/pull/1251

[2019-01-20 13:30] #1250 closed, assigned to nobody

[2019-01-21 04:43] zachriggle commented on #1249
First, the case of multiple `=` signs creating an exception is an actual bug, thank you for the report.  I'll create a fix for this soon.

However, if the bug were not there, the current functionality would be that `pwnlib.args['asdf'] == '='` would be `True` and that item would be removed from `sys.argv`.

This is a unfortunate limitation of using the "kitchen sink" `from pwn import *` mechanism

[2019-01-21 06:26] zachriggle opened #1253 "RFC: Top-level import changes"
In support of #529 (Python3 Support) it occurs to me that we have the opportunity to differentiate "classic" Pwntools from whatever future version there is (whether it supports Python3 exclusively, or is backward-compatible).

In particular, we have always had `from pwn import *` as the main "everything and the kitchen sink" approach.  This has become quite ubiquitous ("from pwn import *" has 205,

[2019-01-21 06:27] zachriggle commented on #1253
I would specifically like feedback from @TethysSvensson, @br0ns, @RobertLarsen, and @Arusekk (who has worked on lots of the Python3 compatibility bits) about this.

[2019-01-21 09:23] zachriggle opened #1254 "Travis: Tests are broken without cached binutils"
The current binutils from Ubuntu Artful have been removed from Ubuntu's website.  This means tests only pass currently due to them being cached on Travis CI.  This is blocking #1224

[2019-01-22 13:22] zihefang commented on #631
I also found this problem and I tried to solve it, but I didn't succeed. The reason for this problem is that the original gitlab library is no longer available and a new gitlib library needs to be transformed. After transformation, the hash library needs to be updated, that is, bilud_id in dynelf.py. The problem is that I don't know how to update the build_id.

[2019-01-22 18:37] #1254 closed, assigned to zachriggle

[2019-01-23 00:05] Arusekk commented on #1238
As this issue is still open, I examined the new intervaltree, and it seems mature enough to get the new version.

It passes the tests after a quick (and proper) fix, which is as easy as `s/memory.search/memory.overlap/` in this single line:

https://github.com/Gallopsled/pwntools/blob/927d69986c6a8ba9d14125407881f1417cde4deb/pwnlib/elf/elf.py#L1131

also, when fixing this, we would probably like t

[2019-01-23 20:52] RobertLarsen opened #1256 "Pull request #1223 broke `dupio`"
#1223 uses the `loop` instruction for calling `dup2` three times on file descriptor 2, 1 and 0, however this won't work since `loop` will decrement `ecx` which doubles as the file descriptor by one and jump to the beginning of the loop UNLESS `ecx` has reached zero. This means that only file descriptor 2 and 1 will be duplicated.

The following `strace` output shows `findpeersh` which fails:

[cod

[2019-01-23 21:25] RobertLarsen commented on #1253
I pretty much agree with everything you say @zachriggle.

I usually import only the modules I actually need (`from pwn import asm, shellcraft, remote`) to shut `deoplete` up so you search would not find my stuff. Importing stuff from `pwntools` would.
Also, since the project is named "pwntools" it's confusing that you should not import from `pwntools`. Same goes for the `pwn` command line tool. It

[2019-01-23 22:30] zachriggle commented on #1256
Reverted in 431cbddc

[2019-01-23 22:30] #1256 closed, assigned to nobody

[2019-01-24 09:47] Arusekk commented on #1253
I also mostly agree with @zachriggle. I think `pwntools3` would be an unnecessary confusion, though.

Also when it comes to compatibility that we might want to ditch some day, I suggest to introduce some DeprecationWarning or stuff so that people don't use them mistakenly (many don't read the docs).

I think that python3-intended scripts are easy enough to distinguish, because they are almost sure

[2019-01-24 19:57] CptGibbon opened #1257 "ROP.find_stack_adjustment() uses the wrong variable"
# ROP.find_stack_adjustment() is broken
[code]
Perhaps `context.bytes` was supposed to be used here, `context.arch` is a string.
This function isn't mentioned in the [documentation](http://docs.pwntools.com/en/stable/rop/rop.html).

[2019-01-28 10:50] bash-c opened #1262 "crafted filename could lead to format string error in pwnlib/log.py"
Hi,
I found that a crafted filename may lead to a format string error in pwnlib/log.py.

For example
[code]
And the reason seems to be the format string `%` in the crafted filename fails to parse a value.
[code]

And this bug occurs at least in `info_once(), warning_once(), error()` in `pwnlib/log.py`

[2019-01-28 22:49] zachriggle commented on #1249
This is fixed in `stable` and will be addressed in the next bug-fix.

[2019-01-28 22:49] #1249 closed, assigned to nobody

[2019-01-29 00:55] zachriggle commented on #1253
Let's agree to switch the suggested mechanism over the `from pwntools ...` then.

The `pwntools3` package name will be a necessity regardless of the suggested import mechanism, because of PyPi packaging restrictions.

At some point, Python2-compatible pwntools will be deprecated / legacy.  We should prepare for this as early as possible, to ensure that legacy `python2` users can still `pip2 instal

[2019-01-29 06:41] Arusekk commented on #1253
Why different? @zachriggle I thought that you decided to support python 2 and 3 with a **single** codebase, like I made it in #1224, and like you said here: https://github.com/Gallopsled/pwntools/issues/529#issuecomment-455662117

Well, you're the maintainer, so it's your decision. Too bad you didn't say that earlier, I wouldn't have to fight the `six` module so hard 😆

[2019-01-29 08:48] TethysSvensson commented on #1253
I agree with your proposal, sounds great!

I also think the namespace split up is a bad idea.

You can support both at the same time, even on pypi. See https://github.com/DIKU-PCS/pcstools for an example.

[2019-01-30 06:17] zachriggle commented on #1253
@Arusekk yes that is the ideal plan, and you've been amazingly helpful toward that goal.  However if it comes to the point that we need to diverge or want to drop Python2 development for whatever reason, I'd still want to be able to make maintenance / bugfix releases that might have the same version number as a Python3 bugfix, but with a diverged code-base.  Per @TethysSvensson I had some misconce

[2019-01-31 08:40] Arusekk opened #1263 "`disasm()` creates excess lines when `byte=0` on long instructions"
This can be seen in very long instructions, like this one:

[code]

This can be fixed by passing `--no-show-raw-insns` to `objdump`. A pull request on its way.

[2019-01-31 10:08] zachriggle commented on #1263
Thanks!  I'm curious how you came across this, it's likely a use-case we didn't consider fully.

[2019-01-31 10:16] Arusekk commented on #1263
So I guess the PR should go against dev, as it is just an enhancement? Or should it be a bug fix on stable?

[2019-01-31 12:18] TethysSvensson commented on #1253
Well, pcstools is not actually a split codebase. It is a single codebase supporting both python2 and python3. But even so I still think you can make it work. Worst-case you create a python2 and a python3 namespace and a shim to choose between them.

[2019-02-02 09:01] #1244 closed, assigned to nobody

[2019-02-02 09:30] zachriggle commented on #1262
So this is a bug that's been around a while and I don't have a good way to fix it.

The issue is that we use e.g. `%s` in the format code inside the logging subsystem, and it blows up when there is an extra unescaped format code in the log statement itself.

This can probably be resolved in some way, but even switching to e.g. placeholders or `string.format` will ultimately permit the same issue -

[2019-02-02 09:37] zachriggle commented on #1147
Closing this out since there's been no progress.

[2019-02-02 09:37] #1147 closed, assigned to nobody

[2019-02-02 10:47] zachriggle commented on #1126
Debugging works for me.  I expect something on your system is configured non-standard.

Can you take a look at the issue [template](https://github.com/Gallopsled/pwntools/blob/dev/.github/ISSUE_TEMPLATE.md)?  Try in the Docker image for sure, but I at least need the debug output to know what went into the gdb script.

[2019-02-08 16:55] d33d opened #1268 "thumb.android.loader_append() - androideabi-ld: internal error in set_segment_offsets"
Reproducing the issue:

- cat hello.c
int main() { printf("Hello\n"); }

1.  arm-linux-androideabi-gcc -xc -static -Wl,-Ttext-segment=0x20000000 hello.c -o hello

file hello
hello: ELF 32-bit LSB executable, ARM, EABI5 version 1 (SYSV), statically linked, with debug_info, not stripped

2. shellcraft thumb.android.loader_append hello -f e -o hello_elf.out

Error message:

PwnlibException: There was

[2019-02-09 00:52] zachriggle commented on #1268
This sounds like a toolchain error, with the `shellcraft` command using the `binutils` and linker from Android.  I'm not sure why this doesn't work -- I'd strongly recommend installing `binutils-arm-none`, since the Android variant of everything is odd.

[code]
[code]
[code]
[code]

[2019-02-09 00:52] #1268 closed, assigned to zachriggle

[2019-02-11 06:09] odoo-slnee opened #1269 "Can't use any command in pwndbg which rely on pwntools"
https://github.com/Gallopsled/pwntools/blob/5fa4fcd051ee75fe9df548ea1adced44ed579ec8/pwnlib/term/term.py#L168

I can't execute any pwntools commands thru pwndbg tool because of this bug.

File "/usr/local/lib/python3.6/dist-packages/pwnlib/term/term.py", line 167
    def goto((r, c)):
                   ^
SyntaxError: invalid syntax

I propose to change it to:

def goto(args):
    r, c = args

BTW

[2019-02-12 05:28] #1269 closed, assigned to nobody

[2019-02-12 16:41] Arusekk commented on #1269
Please try the dev3 branch: https://github.com/Gallopsled/pwntools/tree/dev3

[2019-02-13 11:03] zachriggle commented on #1238
This is now the canonical bug blocking pwndbg/pwndbg#595 regarding pinned `intervaltree` and `sortedcontainers` versions -- as as @Arusekk pointed out it's still open.

[2019-02-13 16:57] Trolldemorted opened #1270 "pwn template support for ida server"
Right now I am manually editing the generated templates to start an ida server when running locally. What do you think of an IDA parameter (like GDB), which starts the appropriate ida server with the correct params?

[2019-02-18 19:28] CCLDArjun opened #1271 "Install Error on MacOSX Mojave"
So i tried `sudo pip3 install pwntools`
and i got the error:
[code]

Ive tried`brew install unicorn && UNICORN_QEMU_FLAGS="--python=`whereis python`" pip install unicorn` and `sudo pip install capstone --upgrade` but to no avail.

Then I did `sudo pip3 install unicorn --upgrade`, however that ended up with this
[code]
Since this is a problem with `unicorn` i think i should install an older version

[2019-02-18 19:42] CCLDArjun commented on #1271
Got it!!
[code]
`sudo pip3 install unicorn --upgrade`
`sudo pip3 install pwntools`

[2019-02-19 15:21] zachriggle commented on #1271
For clarity `python3` is **NOT** supported for the version you're installing.

Please use the `dev3` branch directly from Github.

[2019-02-19 15:21] #1271 closed, assigned to nobody

[2019-02-20 20:47] elklepo opened #1273 "gdb.debug() - `exe` parameter is not respected"
Given executable:
[code]
I'd like to run and debug this binary with **modified argv[0]**. First, I've tried:
[code]
and everything works great - argv[0] is properly replaced in process.

Due to process of real binary I want to debug ends before `gdb.attach()` has time to be called I tried to use `gdb.debug()`:
[code]

but I get error:

Further investigation showed that `gdb.debug()` still tries to

[2019-02-22 17:57] jonasbb commented on #1178
The pull request for this is merged, so this can be closed now.

[2019-02-22 17:57] #1178 closed, assigned to nobody

[2019-02-26 01:52] zachriggle opened #1276 "Next release, `dev3` merged to `dev` and promoted to `beta`"
We need to cut a new release so that @Arusekk's work to get everything Python3-compatible (and Python2-compatible!!) can be used and is the primary development branch.

We used to have a regular 6-week release cadence (dev => beta => stable), but this fell to the wayside due to lack of free time on my part.

Since this is NOT a backward-compatibility-breaking change, SemVer would tell us not to bu

[2019-03-01 11:49] lionaneesh opened #1278 "Cannot set stdout in process"
I am trying to exploit a format string bug, which involves me writing 0xdeadbeef amount of bytes to stdout. If I run it on the shell, pwntools blurts out a bunch of spaces on the screen which makes it unresponsive and I think it buffers for a long time. So I want to redirect stdout to /dev/null so that I can move on with my exploit. Here's my code:

[code]

If I run this code I get:
[code]

I am t

[2019-03-01 12:36] Arusekk commented on #1278
Although this is a real issue, setting a process' stdout to `/dev/null` is not the right thing to do here. The script will not be able to `recvuntil()` nor receive any output of the process. You should rather discard (or save in a variable) some of the output, just instead of printing it.

[2019-03-03 18:47] bannsec opened #1279 "from pwn import * changes __name__"
Running `pwntools==3.14.0.dev0` from py3 dev branch.

from pwn import * imports __name__ apparently.

[code]

[2019-03-06 13:21] flyn-org opened #1280 "Pwntools dependencies out of date?"
I maintain the Fedora package of pwntools (python2-pwntools). I have recently found that an upgrade to Fedora's python2-sortedcontainers package leaves pwntools with an unrealized depedency; pwntools requires sortedcontainers<2.0 in requires.txt, but Fedora provides 2.1.0.

Fedora has also dropped python2-tox. Thus the requirement of tox>=1.8.1 also causes a problem. After looking through the sour

[2019-03-06 16:18] notdodo opened #1281 "catch signals on server()"
## pwntools verion

3.12.2

## basic example

[code]

CTRL+C is not catched, thus no prints or no program exit

[2019-03-07 12:05] zachriggle commented on #1281
I’m on vacation / mobile so I can’t check, but I believe this is due to use
of “pwn” instead of “pwnlib”.  We do some stuff to exception handling IIRC.

Try “from pwnlib.tubes.server import server” and so on. I’ll check more
when I return.

On Wed, Mar 6, 2019 at 11:18 AM Edoardo Rosa <notifications@github.com>
wrote:

--

*Zach Riggle*

[2019-03-07 12:11] zachriggle commented on #1278
Yes, I believe Arusekk is right.  You should look at the docs for
tube.clean() to discard all output or tube.recvuntil() to stop on a
specific string (I see you’re already using readuntil, which is an alias).

I believe “print x.recvuntil(...)” is what is spamming your console but I’m
on mobile and the script is incomplete / incorrect (e.g. “recvuntil”).

On Fri, Mar 1, 2019 at 7:36 AM Arusekk <no

[2019-03-07 21:06] notdodo commented on #1281
Thank you for the response while in vacation :D and sorry for the trouble.

Same result with:

[code]